<!doctype html>
<html>
<head>
  <title>表单编辑</title>
  <meta charset="utf-8" />
  <meta name="description" content="" />
  <link rel="stylesheet" href="./vendor/css/vendor.css"  th:href="@{/resources/formbuilder/vendor/css/vendor.css}"/>
  <link rel="stylesheet" href="./dist/formbuilder.css"   th:href="@{/resources/formbuilder/dist/formbuilder-min.css}"/>
  <style>
  * {
    box-sizing: border-box;
  }

  body {
    background-color: #444;
    font-family: sans-serif;
  }

  .fb-main {
    background-color: #fff;
    border-radius: 5px;
    min-height: 600px;
      padding-bottom:20px;
  }

  input[type=text] {
    margin-bottom: 3px;
  }

  select {
    margin-bottom: 5px;
    font-size: 40px;
  }
  </style>
</head>
<body>
  <div class='fb-main'></div>
  <script src="./vendor/js/vendor.js"     th:src="@{/resources/formbuilder/vendor/js/vendor.js}"></script>
  <script src="./dist/formbuilder.js"   th:src="@{/resources/formbuilder/dist/formbuilder-min.js}"></script>
  <script src="./formbuilder-demo.js"   th:src="@{/resources/jsForm/formbuilder-demo.js}"></script>
</body>
</html>