<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
<h1>index</h1>
<p>所有的请求都需要saasId和accessKey</p>

<ul>
<li><a href="/htmlFormTest/index">htmlFormTest</a></li>
<li><a href="/htmlInputTest/index">htmlInputTest</a></li>
</ul>

<p>
关于认证：<br/>
每一个请求都要提交参数saasId和accessKey。服务器判断这两个值是否相等，如果不等，直接返回状态码403.<br/>
默认的saasId和accessKey值为：<br/>
private static String saasKey="946c4eea-15cb-4dfb-8f8d-91b99fe78939";<br/>
private static String accessKey="c8d47cffb16e4668bc84b3b4f9f72023";<br/>
</p>
</body>
</html>