<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
<h1>index</h1>
<p>所有的请求都需要saasId和accessKey</p>

<ul>
<li><a href="/htmlFormTest/index">htmlFormTest</a></li>
<li><a href="/htmlInputTest/index">htmlInputTest</a></li>
<li><a href="/statisticsTest/statistics">statisticsTest</a></li>
</ul>

<p>
关于认证：<br/>
每一个请求都要提交参数saasId和accessKey。服务器判断这两个值是否相等，如果不等，直接返回状态码403.<br/>
默认的saasId和accessKey值为：<br/>
private static String saasKey="884b8165-7aad-4467-bc7e-e05e8f5efd49";<br/>
private static String accessKey="023e498c-7ff8-41cd-8874-137c46b73c5b";<br/>
</p>
</body>
</html>