<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wb="http://open.weibo.com/wb">
<head th:replace="layout/auth :: head (title='觅油网找回密码')">
</head>
<body>
	<!-- wrapper  start -->
	<div id="wrapper" class="user_wrapper">
			<!-- header 	start -->
			<div id="header" th:replace="layout/auth :: header">				
			</div>
			<!-- header 	end -->
		<!-- header  start -->
		<div class="header">
			<div class="c_width">
				<h1 class="logo">
					<a href="/" title="觅油网">觅油网</a>
				</h1>
			</div>
		</div>
		<!-- header   end -->

		<!-- login_box  start -->
		<div class="c_width">
			<div class="login_box login_form_bg">
				<form id="findPwForm" action="/auth/resetPassword"  method="post" class="form  login_form">
					<div class="login">
						<h2>找回密码
							<a href="/auth/loginPage" title="立即登录" target="_self" class="login_a fr">立即登录>></a>
						</h2>
						<div class="userName clearfix">
							<label>手机号：</label>
							<input type="text" tabindex="1" class="user_icon" 
							required="required" name="username"  id="mobile" placeholder="手机"/>
						</div>
						<div class="auth_code clearfix">
							<button type="button" id="sendResetSmsCodeBtn" title="获取短信验证码" class="code">获取短信验证码</button>
							<label>验证码：</label>
							<input type="text" tabindex="1" 
							class="code_num" required="required" name="code" id="code_num" placeholder=""/>
						</div>
						<div class="passWord clearfix">
							<label>新密码：</label>
							<input type="password" tabindex="2" class="password_icon" id="password" 
							name="password" placeholder="请输入新密码"/>
						</div>
						<div class="passWord clearfix">
							<label>确认新密码：</label>
							<input type="password" tabindex="2" class="password_icon" id="password1" 
							name="passwordRepeat"  placeholder="请再次输入新密码"/>
						</div>
						<div class="btn">
							<input type="button" id="findPw_btn" value="提交"/>
							<span>
							<img width="20" id="login_loading_img" style="display: none" height="20" src="/resources/images/loading_gray.gif"/>
							</span>
							<div id="login_error">
								<div for="mobile" class="fail dp-none">
									<i class="icon_tip"></i>
									<span class="text"></span>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- login_box  end -->

		<!-- footer  start -->
		<div id="footer" th:replace="layout/auth :: footer">
		</div>
		<!-- footer  end -->
	</div>
	<!-- wrapper  start -->
	<script type="text/javascript" src="/resources/js/findPw.js"></script>
	<script type="text/javascript"  th:inline="text">
	   var checkUsernameUrl ="/auth/checkUsername/";
	   var registerUrl="/auth/register";
	   var sendFindPwSmsCodeUrl="/auth/sendFindPwSmsCode/";
	   var resetPasswordUrl="/auth/resetPassword";
	   var sendRegSmsCodeUrl="/auth/sendRegisterSmsCode/";

	   var usernameError="[[#{username.error}]]";
	   var passwordError="[[#{password.error}]]";
	   var registerErrorText="[[#{register.error.text}]]";
	   var resetPwError="[[#{reset.pw.error}]]";
	   var successShowText="[[#{success.show.text}]]";
	   var accountNotExistError="[[#{account.not.exist.error}]]";
	   var getSmsCode="[[#{get.sms.code}]]";
	   var successRegisterText="[[#{success.register.text}]]";
	   var successResetPw="[[#{success.reset.pw}]]";
	   var usernameFormatError="[[#{username.format.error}]]";
	</script>
</body>
</html>