<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
<form action="/api/v1/form" method="post">
	saasId<input type="text" name="saasId" value="884b8165-7aad-4467-bc7e-e05e8f5efd49"/>
	accessKey<input type="text" name="accessKey" value="023e498c-7ff8-41cd-8874-137c46b73c5b"/>
	name<input type="text" name="name" value="name"/>
	beforeText<input type="text" name="beforeText" value="beforeText"/>
	afterText<input type="text" name="afterText" value="afterText"/>
	startTime<input type="text" name="startDate" value="2015-8-25 12:30"/>
	endTime<input type="text" name="endDate" value="2015-9-25 12:30"/>
	description<input type="text" name="description" value="description"/>
	<input type="submit" name="submit"  value="创建"/>
</form>
</body>
</html>