<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
<form action="/api/v1/htmlForm/create" method="post">
	saasId<input type="text" name="saasId" value="946c4eea-15cb-4dfb-8f8d-91b99fe78939"/>
	accessKey<input type="text" name="accessKey" value="c8d47cffb16e4668bc84b3b4f9f72023"/>
	name<input type="text" name="name" value="name"/>
	beforeText<input type="text" name="beforeText" value="beforeText"/>
	afterText<input type="text" name="afterText" value="afterText"/>
	startTime<input type="text" name="startDate" value="2015-8-25 12:30"/>
	endTime<input type="text" name="endDate" value="2015-9-25 12:30"/>
	description<input type="text" name="description" value="description"/>
	<input type="submit" name="submit"/>
</form>
</body>
</html>