<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>htmlFormTest Index</title>
</head>
<body>
<h1><a href="/htmlFormTest/create">创建</a></h1>
<h1><a href="/htmlFormTest/show">查看</a></h1>

<form action="/api/v1/htmlForm/show">
saasId<input type="text" name="saasId" value="946c4eea-15cb-4dfb-8f8d-91b99fe78939"/>
	accessKey<input type="text" name="accessKey" value="c8d47cffb16e4668bc84b3b4f9f72023"/>
	htmlFormId<input type="text" name="htmlFormId" value="htmlFormId"/>
	<input type="submit" name="submit"/>
</form>
<h1><a href="/htmlFormTest/delete">删除</a></h1>
<h1><a href="/htmlFormTest/update">更新</a></h1>
<h1><a href="/htmlFormTest/list">列表</a></h1>
</body>
</html>