/*
 *	author  :   grace
 *  date	:	2015/4/12
 *	email	:	graceboys@163.com
 */
/* --------------------- web rest  start--------------------- */
*{margin:0;padding:0;}
html{}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,blockquote,th,td{margin:0;padding:0;  font-size: 12px;font-family: "Microsoft YaHei","微软雅黑";}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,th,var,optgroup{font-style:inherit;font-weight:inherit;}
del,ins{text-decoration:none;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;}
legend{color:#000;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}
a {text-decoration: none;}
a , li a{color: #666;}
body{
	width: 100%;
	height: 100%;
	position: relative;   
	background: #fff;
	color: #666;
}
table{border-collapse: collapse;border-spacing: 0;}
.orange {color: #f30;}
.gray {color: #a5a5a5;}
.red {color: #F50000;}
.yellow {color: #fcae52;}
.tx_align{text-align: center;}
img{border:0;}
.clearfix{zoom:1;}
.clearfix:after {
  content: '\20';
  display: block;
  height: 0;
  clear: both;
}
input::-ms-clear{display:none;}
strong{font-style:inherit;}
.no_unl{text-decoration:none;}
.dp-none{display: none;}
.dp-block{display:block;}
/*定位*/
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.bc{margin-left:auto;margin-right:auto;}/*块级元素水平居中（前提是块级元素有设置宽度）*/
.fl{float:left;display:inline;}/*消除ie6浮动产生的双边距*/
.fr{float:right;display:inline;}/*消除ie6浮动产生的双边距*/
.cb{clear:both;}/*清除浮动*/
.w10{width:10%}
.w20{width:20%}
.w30{width:30%}
.w40{width:40%}
.w50{width:50%}
.w60{width:60%}
.w70{width:70%}
.w80{width:80%}
.w90{width:90%}
.w5 { width:5%}
.w15{width:15%}
.w25{width:25%}
.w35{width:35%}
.w45{width:45%}
.w17{width:17%}
.w18{width:18%}
.w18_9{width: 18.9%;}
.w19{width:19%}
.w9{width:9%}
/* --------------------- web rest  end--------------------- */

/*--------------------- web  common  start ---------------------*/
.c_width{width:1000px; margin:0 auto;}
a:hover{color:#FF6600;}
/*--------------------- web  common  end ---------------------*/


/*wrapper  start*/

#wrapper {
  width: 100%;
  /* height: 100%; */
  float: left;
  z-index: 1111;
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

/*header  start*/
#header{
	height: 28px;
	background-color: #F6F6F6;
	border-bottom:1px solid #E8E8E8;
}
.tNav .tNav_ul li{
	float: left;
	margin-right: 10px;
}
.tNav .tNav_ul li a{
	display: inline-block;
	float: left;
}
.tNav .tNav_ul li a:hover{
	text-decoration:underline;
}

/*left  tNav_ul  start*/
.tNav_fl .tNav_ul li.login{
	margin:0 15px 0 0;
}
.tNav_fl .tNav_ul li{
	line-height: 28px;
}
/*right tNav_ul  start*/
.tNav_fr .tNav_ul li{
	margin-right: 0px;
}
.tNav_fr .tNav_ul li:after{
	content:"|";
	color:#CCD3DE;
	vertical-align: -5px;
}
.tNav_fr .tNav_ul li:last-child:after{
	content:"";
}
.tNav_fr .tNav_ul li a,.tNav_fr .tNav_ul li span{
	padding:6px 10px;
	display: inline-block;
}
/*right tNav_ul li i (select) i  start*/
.user_order{
	position: relative;
}
.tNav_fr .tNav_ul li a i.sel_downArrow{
	display: inline-block;
  	width: 12px;
  	height: 12px;
  	margin: 0 0 0 3px;
  	line-height: 10px;
  	background: url(../images/bg.png) no-repeat 0 0;
  	vertical-align: -2px;
  	overflow: hidden;
}
.tNav_fr .tNav_ul li.li_sel_active a i{
	background-position: -12px 0;
}
.tNav_fr .tNav_ul li.li_sel_active a.order_a{
	background-color:#fff;
	border-right:1px solid #e8e8e8;
	border-left: 1px solid #e8e8e8;
}
.tNav_fr .tNav_ul li i.kf_icon{
	display: inline-block;
  width: 16px;
  height: 20px;
  margin: -3px 3px 0 0;
  line-height: 10px;
  background: url(../images/bg.png) no-repeat 0 -12px;
  vertical-align: middle;
  overflow: hidden;
}
/*select ul  start*/
.nav_select{
  	position: absolute;
}
.order_sel_ul{
	top: 28px;
	width: 98px;
	padding: 0 0 4px;
	border: 1px solid #e8e8e8;
	background: #fff;
	z-index: 23;
	border-top:none;
}

.order_sel_ul ul li{
	float: none;
}

.tNav_fr .tNav_ul li .order_sel_ul ul li:after{
	content: "";
}
.order_sel_ul ul li a{
	display: block;
}



/*--------------------- logo_search   start ---------------------*/
.logo_search{
	/*position: relative;*/
	width: 100%;
	height: 72px;
	margin: 9px 0;
	background: #fff;
	z-index: 10;
}

/*left logo  start*/
.logo_fl{
	width: 500px;
	height: 72px;
	background: url(../images/logo.png) no-repeat 15px 0;
}
.logo_fl a{
	display: block;
	width: 225px;
	height: 72px;
}

/*right search  start*/
.search_form{
	width:490px;
	margin:11px 0 0;
}
.search_fr input{
	width: 245px;
	height: 20px;
	padding: 5px 0 5px 5px;
	border: 4px solid #f50;
	line-height: 20px;
	outline: none;
	float: left;
	display: inline-block;
}
.search_fr input.sub_search_btn{
	width: 82px;
	height: 38px;
	margin: 0;
	padding: 0;
	border: 0;
	background: #f50;
	outline: none;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
}

/*--------------------- right  search  shopping and giftbag  start ---------------------*/
.shopping_car,.gift_bag{
	position: relative;
	float: right;
	width: 50px;
	height: 36px;
	margin: 0 0 0 7px;
	border: 1px solid #ccc;
	background: #f1edec;
	z-index: 9999;
}
.shopping_car i.shop_icon{
	display: block;
	width: 50px;
	height: 36px;
	cursor: pointer;
	background: url("../images/mallNavCartEmpty.png") 50% 50% no-repeat;
}
.gift_bag i.gift_icon{
	display: block;
	width: 20px;
	height: 22px;
	margin: 7px 0 0 15px;
	overflow: hidden;
	cursor: pointer;
	background: url(../images/bg.png) no-repeat -232px -265px;
}
.icon_hot{
	position: absolute;
	top: -8px;
	left: 37px;
	width: 22px;
	height: 10px;
	background: url(../images/hot.gif) no-repeat;
}


/*--------------------- h_menu   start ---------------------*/
.h_menu{
	height: 40px;
	background: #005bac;
}
.h_menu_ul{
	display: inline;
	height: 40px;
	line-height: 40px;
}

.h_menu_ul li{
	float: left;
	display: inline;
	height: 40px;
	line-height: 40px;	
}

.h_menu_ul li a{
	position: relative;
	float: left;
	display: block;
	height: 40px;
	padding: 0 19px;
	color: #fff;
	font-size: 16px;
}

.h_menu_ul li a:hover{
	background: #f94100;	
}
.h_menu_ul li a.active {
	background: #f94100;
}

.h_menu_ul li a .icon_hot{
	position: absolute;
	top: -8px;
	right: 0;
	width: 29px;
	height: 20px;
	background: url(../images/bg.png) no-repeat -230px -431px;
	overflow: hidden;
}

.h_menu_ul li a .icon_market{
	position: absolute;
	top: -8px;
	right: 0;
	width: 29px;
	height: 20px;
	background: url(../images/bg.png) no-repeat -230px -451px;
	overflow: hidden;
}

.h_menu_ul li a .icon_price{
	  position: absolute;
	  top: -8px;
	  right: 0;
	  width: 29px;
	  height: 20px;
	  background: url(../images/bg.png) no-repeat -187px -534px;
	  overflow: hidden;
}



.h_menu .more_menu,.h_menu .h_menu_ul{
	float: left;	
}

.h_menu .more_menu a.big_shopping{
	display: block;
	width: 180px;
	height: 40px;
	line-height: 40px;
	background: #0075c2;
	font-size: 16px;
	color: #fff;
	font-weight: normal;
	text-align: center;
	position: relative;
}
.h_menu .more_menu a i.icon_arrow_down{
	position: absolute;
	right: 12px;
	top: 18px;
	display: block;
	width: 9px;
	height: 6px;
	background: url(../images/bg.png) no-repeat -89px 0;
	overflow: hidden;
}

/*--------------------- down_menu  more noCommon start ---------------------*/
.down_menu .down_menu_ul{
	width: 180px;
	height: auto;
	background: #fff;
	box-shadow: 0 0 5px #999;
}

.down_menu_ul .item {
	position: relative;
	width: 180px;
	height: 67px;
	border-bottom: 1px solid #cfcfcf;
}
.down_menu_ul .item.active{
	border-bottom-color:#b3b3b3;
	box-shadow: 0 0 6px #666;
}
.item i.icon_love{
	position: absolute;
	left: 8px;
	top: 26px;
	width: 18px;
	height: 16px;
	background: url(../images/bg.png) no-repeat -183px -253px;
	overflow: hidden;
}

.item i.icon_love_active{
	background: url(../images/bg.png) no-repeat -165px -253px;
}

.item h3{
	height: 20px;
	padding: 10px 12px 8px 36px;
	line-height: 20px;
	font-size: 16px;
	color: #3f3f3f;
	font-weight: normal;
}

.item h3 i.icon_arrow{
	float: right;
	display: inline-block;
	width: 5px;
	height: 7px;
	background: url(../images/bg.png) no-repeat -200px -20px;
	position: absolute;
	right: 12px;
	top: 18px;
	overflow: hidden;
}

.item i.icon_sun{
	position: absolute;
	left: 8px;
	top: 24px;
	width: 18px;
	height: 18px;
	background: url(../images/bg.png) no-repeat -242px -168px;
	overflow: hidden;
}

.item i.icon_sun_active{
  background: url(../images/bg.png) no-repeat -224px -168px;
}

/*建材*/
.item i.icon_carouse{
	position: absolute;
	left: 9px;
	top: 26px;
	width: 18px;
	height: 14px;
	background: url(../images/bg.png) no-repeat -64px -222px;
	overflow: hidden;
}
.item i.icon_carouse_active{
	background: url(../images/bg.png) no-repeat -82px -222px;
}
/*中厚板*/
.item i.icon_map{
	position: absolute;
	left: 9px;
	top: 25px;
	width: 18px;
	height: 17px;
	background: url(../images/bg.png) no-repeat -147px -239px;
	overflow: hidden;
}
.item i.icon_map_active{
	background: url(../images/bg.png) no-repeat -129px -239px;
}
/*冷轧涂镀*/
.item i.icon_box{
	position: absolute;
	left: 8px;
	top: 24px;
	width: 18px;
	height: 18px;
	background: url(../images/bg.png) no-repeat -111px -239px;
	overflow: hidden;
}
.item i.icon_box_active{
	background: url(../images/bg.png) no-repeat -93px -239px;
}

/*钢厂专区*/
.item i.icon_plant{
	position: absolute;
	left: 8px;
	top: 24px;
	width: 18px;
	height: 18px;
	background: url(../images/bg.png) no-repeat -183px -235px;
	overflow: hidden;
}
.item i.icon_plant:active{
	background: url(../images/bg.png) no-repeat -165px -235px;
}

.do_introduce{
	height: 16px;
	padding: 0 0 0 36px;
	line-height: 16px;
	color: #666;	
}
.do_introduce p span{
	margin: 0 2px;
	color: #f50;
}
/*--------------------- item_div  product  menu  start ---------------------*/
.item_div{
	position: absolute;
	top: 0;
	left: 180px;
	width: 260px;
	height:auto;
	border-left: 1px solid #cfcfcf;
	box-shadow: 0 0 8px #ccc;
	background: #fff;
}

.item_div ul{
	  padding: 12px 10px;
	  zoom: 1;
}
.item_div ul li{
	float: left;
	display: inline;
	overflow: hidden;
}

.item_div ul li a{
  display: block;
  width: auto;
  padding: 4px 11px;
  border: 1px solid #fff;
  color: #777;
  cursor: pointer;
}

/*--------------------- product  company  start ---------------------*/
.bo_title_menu{
	height: 30px;
	padding: 0 10px;
	border-bottom: 1px solid #cfcfcf;
	border-top: 1px solid #cfcfcf;
	line-height: 30px;
	font-size: 14px;
	color: #3d3d3d;
	clear: both;
}
.bo_title_menu span{
	display: inline-block;
	float: right;
	height: 30px;
}

.bo_title_menu span a.dot{
	float: left;
	display: inline-block;
	width: 13px;
	height: 13px;
	margin: 10px 0 0;
	background: url(../images/bg.png) no-repeat -67px -124px;
	overflow: hidden;
}

.bo_title_menu .dot{
	float: left;
	display: inline-block;
	width: 13px;
	height: 13px;
	margin: 10px 0 0;
	background: url(../images/bg.png) no-repeat -67px -124px;
	overflow: hidden;
}

.bo_title_menu span a.active{
	background-position: -80px -124px;
}

/*--------------------- footer  start ---------------------*/
#footer{
	padding: 30px 0 0;
	border-top: 1px solid #ddd;
	clear: both;
	margin:30px 0 10px 0;
	float: left;
	width: 100%;
}

#footer .list_item{
	padding: 0 0 40px;
}

#footer .list_item .item1{
	float: left;
	display: inline;
	width: 160px;
	margin: 0 10px 0 0;
	text-align: center;
	font-size: 14px;
	color: #999;
}
#footer .list_item .item1 img {
 	display: block;
}
#footer .list_item .item1 h5{
	color: #666;
	font-size: 12px;
	font-weight:bold;
}

#footer .list_item .item2{
	position: relative;
	float: left;
	display: inline;
	width: 139px;
	margin: 0 55px 0 0;
	border-right: 1px solid #cfcfcf;
}

#footer .list_item .item2 .icon_buy {
	position: absolute;
	top: 0;
	left: -40px;
	display: block;
	width: 34px;
	height: 34px;
	background: url(../images/bg.png) no-repeat -223px -66px;
	overflow: hidden;
}

#footer .list_item .item2 h4 {
	padding: 10px 0;
	color: #666;
	font-size: 14px;
}

#footer .list_item .item3 {
	position: relative;
	float: left;
	display: inline;
	width: 139px;
	margin: 0 55px 0 0;
	border-right: 1px solid #cfcfcf;
}

#footer .list_item .item3 .icon_sale {
	position: absolute;
	top: 0;
	left: -40px;
	display: block;
	width: 34px;
	height: 34px;
	background: url(../images/bg.png) no-repeat -223px -32px;
	overflow: hidden;
}


#footer .list_item .item3 h4 {
	padding: 10px 0;
	color: #666;
	font-size: 14px;
}

#footer .list_item .item4 {
	position: relative;
	float: left;
	display: inline;
	width: 119px;
	margin: 0 55px 0 0;
	border-right: 1px solid #cfcfcf;
}

#footer .list_item .item4 .icon_business {
	position: absolute;
	top: 0;
	left: -40px;
	display: block;
	width: 34px;
	height: 34px;
	background: url(../images/bg.png) no-repeat -223px -100px;
	overflow: hidden;
}

#footer .list_item .item4 h4 {
	padding: 10px 0;
	color: #666;
	font-size: 14px;
}
#footer .list_item .item5 {
	position: relative;
	float: left;
	display: inline;
	width: 129px;
	margin: 0 15px 0 0;
	border-right: 1px solid #cfcfcf;
}

#footer .list_item .item5 .icon_question {
	position: absolute;
	top: 0;
	left: -40px;
	display: block;
	width: 34px;
	height: 34px;
	background: url(../images/bg.png) no-repeat -223px -134px;
	overflow: hidden;
}

#footer .list_item .item5 h4 {
	padding: 10px 0;
	color: #666;
	font-size: 14px;
}
#footer .list_item .item5 li,#footer .list_item .item4 li,#footer .list_item .item3 li,#footer .list_item .item2 li{
	  line-height: 24px;
}
#footer .list_item .item5 li a,#footer .list_item .item4 li a,#footer .list_item .item3 li a,#footer .list_item .item2 li a{
	color: #707070;
}

#footer .list_item .item6 {
	float: left;
	display: inline;
	width: 120px;
}

#footer .list_item .item6 img {
	display: block;
}

#footer .link{
	clear: both;
	color: #666;
	text-align: center;
}

#footer .link a {
	color: #666;
}

#footer .text {
	clear: both;
	padding: 10px 0 0;
	color: #666;
	text-align: center;
}


/*-------------------- search_filter_content   common  start --------------------*/
.search_filter_content{
    margin: 10px 0;
}

.filter_form_div{
  width: 100%;
  border:1px solid #ddd;
  /*float: left;*/
}

.filter_form_div .form_content {
  height: 66px;
  padding: 0 20px;
}
.form_ul{
  float: left;
  display: inline;
  padding: 18px 0 0 0;
}
.form_ul li{float: left;}
.form_ul li label{  
  float: left;
  display: inline;
  line-height: 28px;
  font-size: 14px;
  color: #5f5f5f;
}
.form_ul li select{
  width: 85px;
  height: 30px;
  border: 1px solid #ccc;
  color: #5f5f5f;
  outline: none;
}
.form_ul li input{
  width: 66px;
  height: 22px;
  padding: 3px 5px;
  border: 1px solid #ccc;
  line-height: 22px;
  font-size: 12px;
  outline: none;

}
.form_ul li input.search,.form_ul li input.upload{
  float: left;
  padding:0;
  display: inline-block;
  width: 74px;
  height: 30px;
  margin: 0px 0 0 10px;
  line-height: 30px;
  background: url(../images/zg_icon1.png) no-repeat -23px -140px;
  font-size: 14px;
  color: #fefefe;
  text-decoration: none;  
}
.form_ul li input.search:hover,.form_ul li input.upload:hover{
  background-position: -103px -140px;
}

.form_ul li .price_price{
	padding:0;
}
.form_ul_more_mb{
	margin-bottom:20px;
}

.form_ul li .spots_search{
	margin-left:64px !important;
}
/*-------------------- search_filter_content   common  end --------------------*/



/*-------------------- filter_result_table  common  start -------------------- */
.filter_result_table{
  margin:26px 0px 20px 0;
  border-right: 1px solid #ddd;
}
.filter_result_table ul{
  float: left;
  width: 100%;
}
.filter_result_table ul li{
  height:30px;
  line-height:30px;
  float: left;
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
  border-left:1px solid #ddd;
  border-bottom:1px solid #ddd;
  text-align: center;
}

.filter_result_table ul li .checkbox{
	margin: 0 0 0 5px;
	vertical-align: -2px;
}
.filter_result_table .result_ul_header{
  border-top:1px solid #ddd;
  border-right: 1px solid #ddd;
  background:#E7E7E7;
}

.filter_result_table ul li .action{
  margin-top: 3px;
  margin-left: 10px;
}

.result_ul_item li .num {
  float: left;
  width: 90px;
  z-index: 999;
}

.result_ul_item li .num .cut {
  float: left;
  display: inline;
  width: 22px;
  height: 24px;
  background: url(../images/bg.png) no-repeat -178px -20px;
  cursor: pointer;
  border:none;
  outline: none;
}

.result_ul_item li .num .cut.no {
  float: left;
  display: inline;
  width: 22px;
  height: 24px;
  background: url(../images/bg.png) no-repeat -134px -20px;
  cursor: default;
}

.result_ul_item li .num .text {
  float: left;
  display: inline;
  width: 32px;
  height: 24px;
  margin: 0 2px;
  line-height: 0px;
}

.result_ul_item li .num .text input {
  width: 30px;
  height: 22px;
  margin: 0;
  padding: 0;
  border: 1px solid #ddd;
  text-align: center;
}

.result_ul_item li .num .add {
  float: left;
  display: inline;
  width: 22px;
  height: 24px;
  background: url(../images/bg.png) no-repeat -156px -20px;
  cursor: pointer;
  border:none;
  outline: none;
}

.result_ul_item li .num .add.no {
  float: left;
  display: inline;
  width: 22px;
  height: 24px;
  background: url(../images/bg.png) no-repeat -112px -20px;
  cursor: default;
}

.result_ul_item li .button {
  position: relative;
  float: left;
  width: 79px;
}

.result_ul_item li .button .buy {
  display: block;
  width: 34px;
  height: 24px;
  margin: 0;
  padding: 0 0 0 34px;
  line-height: 24px;
  background: url(../images/bg.png) no-repeat -96px -44px;
  color: #f50;
  font-size: 12px;
}

.result_ul_item li  .button .buy.active {
  background-position: -96px -68px;
  color: #fff;
}
/*-------------------- filter_result_table  common  end -------------------- */



/*-------------------- page  common  start -------------------- */
.page .page_ul li{
    float: left;
}

.page .page_ul li a{
  float: left;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  border: 1px solid #e3e3e3;
  margin-right: 9px;
  color: #777;
  text-align: center;
  text-decoration: none;
  padding: 0 8px;
}

.page .page_ul li a.prev.active,.page .page_ul li a.next.active{
  float: left;
  display: inline-block;
  text-align: center;
  height: 20px;
  line-height: 20px;
  border: 1px solid #e3e3e3;
  margin-right: 9px;
  color: #777;
  text-decoration: none;
  padding: 0 8px;
  background: #e3e3e3;
}

.page .page_ul li a.all_page,.page .page_ul li a.to_page{
  border:none;
}
.page .page_ul li a.all_page span{
  padding:0px 2px;
}

.page .page_ul li a.to_page input.page_num{
  margin: 0px 10px;
  width: 50px;
  outline: none;
}

.page .page_ul li a.submit_page{
  padding:0px 14px;
  background:#F3F3F3;
}
/*-------------------- page  common  end -------------------- */





/*auction  common   footer  start*/
/*auction_footer  start*/
.auctionfoot {
  height: 175px;
  padding: 55px 0 0;
  background: #474e5d;
}

.auctionfoot .logo .icon_logo {
  display: block;
  width: 141px;
  height: 112px;
  background: url(../images/auction_public.png) no-repeat -115px -40px;
}

.auctionfoot .link {
  width: 700px;
  font-size: 14px;
  color: #fff;
  text-align: center;
}

.auctionfoot .link a {
  margin: 0 15px;
  color: #fff;
}

.auctionfoot .link p {
  margin: 10px 0 30px;
  color: #8b959f;
}

.auctionfoot .link .icon_img1 {
  display: inline-block;
  width: 107px;
  height: 40px;
  background: url(../images/auction_public.png) no-repeat 0 -40px;
}

.auctionfoot .link .icon_img2 {
  display: inline-block;
  width: 114px;
  height: 40px;
  margin: 0 20px;
  background: url(../images/auction_public.png) no-repeat 0 -122px;
}

.auctionfoot .link .icon_img3 {
  display: inline-block;
  width: 112px;
  height: 40px;
  background: url(../images/auction_public.png) no-repeat 0 -81px;
}

.auctionfoot .code {
  color: #a1afbd;
}

.auctionfoot .code .icon_code {
  display: block;
  width: 87px;
  height: 88px;
  margin: 0 0 12px 15px;
  background: url(../images/auction_public.png) no-repeat 0 -163px;
}
.auctionfoot .code {
  color: #a1afbd;
}
/*auction_footer  end*/
/*auction  common   footer  end*/


/*auction  common  nav  start*/
/*auction_nav  start*/
.auction_nav .head{
  height: 88px;
}

.auction_nav .head .logo a {
  display: block;
  width: 204px;
  height: 54px;
  margin: 17px 0 0;
  background: url(../images/auction_public.png) no-repeat -88px -163px;
  text-indent: -9999px;
}

.auction_nav .head .auction_nav_ul {
	margin: 26px 0 0;
}

.auction_nav .head .auction_nav_ul .nav_ul li {
	float: left;
	margin: 0 0 0 20px;
}

.auction_nav .head .auction_nav_ul .nav_ul li a {
  float: left;
  display: block;
  height: 36px;
  padding: 0 20px;
  border-radius: 2px;
  line-height: 36px;
  font-size: 16px;
  color: #474e5d;
  text-align: center;
}
.auction_nav .head .auction_nav_ul .nav_ul li a.active {
  background: #ea544a;
  color: #fff;
}

/*auction_nav  end*/
/*auction  common  nav  end*/