.help_content{
	  margin: 10px 0 0;
	  clear: both;
}

.s-left {
  display: inline;
  float: left;
  width: 180px;
}

.s-left .mod-s-menu {
  border: 1px solid #dcebfa;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

.s-left .mod-s-menu .hd {
  background-color: #f5fafe;
  background-image: -moz-linear-gradient(top,#ffffff,#e7f3fc);
  background-image: -ms-linear-gradient(top,#ffffff,#e7f3fc);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#ffffff),to(#e7f3fc));
  background-image: -webkit-linear-gradient(top,#ffffff,#e7f3fc);
  background-image: -o-linear-gradient(top,#ffffff,#e7f3fc);
  background-image: linear-gradient(top,#ffffff,#e7f3fc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e7f3fc', GradientType=0);
  border-bottom: 1px solid #dcebfa;
  height: 36px;
  line-height: 36px;
  position: relative;
  text-align: center;
  font-size: 14px;
}

.s-left .mod-s-menu .hd h2 {
  display: inline-block;
  font-size: 14px;
}

.s-left .mod-s-menu .bd {
  padding: 10px 15px;
}

.s-left .mod-s-menu .bd li {
  display: block;
  height: 22px;
  line-height: 22px;
  margin: 10px 0;
  width: 147px;
  text-indent: 25px;
}

.s-left .mod-s-menu .bd li a {
  color: #454545;
}

.s-left .mod-s-menu .bd .active {
  background: url(../images/about-i-1.png) left top no-repeat;
}



/*right  content */

.s-right {
  display: inline;
  width: 800px;
  float: right;
}

.crumbs {
  width: 1000px;
  margin: 10px auto 0;
  height: 36px;
  line-height: 36px;
}

.s-right .crumbs {
  margin: auto;
}

.crumbs span {
  color: #999999;
}

.crumbs a {
  padding-right: 5px;
}

.mt10 {
  margin: 10px 0 0;
}

.s-right .mod-s-context .hd {
  height: 26px;
  line-height: 26px;
  border-bottom: 2px solid #479fe3;
}

.s-right .mod-s-context .hd h2 {
  display: inline-block;
  background: url(../images/about-i-1.png) left -23px no-repeat;
  width: 108px;
  height: 26px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
}

.s-right .mod-s-context .bd {
  padding: 10px;
  line-height: 24px;
}
.s-left .mod-s-menu .bd .active {
  background: url(../images/about-i-1.png) left top no-repeat;
}

.s-left .mod-s-menu .bd .active a{
  color:#fff;
}
.s-right .mod-s-context .bd .mod-help .mod-help-tl h2 {
  color: #ff7700;
  font-size: 18px;
}

.s-right .mod-s-context .bd .mod-help .mod-help-accordion .accord {
  padding: 5px 0;
  position: relative;
  margin-bottom: 5px;
}

.s-right .mod-s-context .bd .mod-help .mod-help-accordion .active {
  background: #f1f2f2;
}

.s-right .mod-s-context .bd .mod-help .mod-help-accordion .accord .accord-tl {
  height: 32px;
  line-height: 32px;
  cursor: pointer;
  width: 420px;
  overflow: hidden;
}

.s-right .mod-s-context .bd .mod-help .mod-help-accordion .accord .accord-tl i {
  background: url(../images/about-i-1.png) -138px -75px no-repeat;
  width: 9px;
  height: 9px;
  position: absolute;
  left: 10px;
  top: 15px;
}

.s-right .mod-s-context .bd .mod-help .mod-help-accordion .active .accord-tl i {
  background: url(../images/about-i-1.png) -138px -84px no-repeat;
}

.s-right .mod-s-context .bd .mod-help .mod-help-accordion .accord .accord-tl span {
  padding-left: 25px;
  color: #0b6fb3;
}

.s-right .mod-s-context .bd .mod-help .mod-help-accordion .accord .accord-text {
  background: #ffffff;
  margin: 5px;
  padding: 5px;
}

.s-right .mod-s-context .bd p {
  padding: 10px 0;
}

.s-right .mod-s-context .bd .mod-help .mod-help-accordion .accord .accord-text p {
  padding: 5px 0px;
}

