.real{
  margin-top: 24px;
}
.real .real_search {
  margin: 20px 0 10px;
  border: 1px solid #e3e3e3;
}

.real .real_search .top {
  position: relative;
  height: 36px;
  border-bottom: 1px solid #e3e3e3;
  background: #f3f3f3;
}

.real .real_search .top .tab {
  position: absolute;
  left: 0;
  top: -1px;
  height: 38px;
  font-size: 14px;
}

.real .real_search .top .tab a {
  float: left;
  display: inline-block;
  height: 36px;
  padding: 0 25px;
  border-width: 2px 1px 0 0;
  border-style: solid;
  border-color: transparent;
  border-right-color: #e3e3e3;
  _border-color: #f3f3f3;
  line-height: 35px;
  color: #3f3f3f;
}

.real .real_search .top .tab a.active {
  border-color: #317ee7 #e3e3e3 #e3e3e3;
  background: #fff;
  font-weight: bold;
  color: #317ee7;
}

.real .real_search .top p {
  padding: 10px 0 0 377px;
}

.real .real_search .entry {
  position: relative;
  height: 76px;
  padding: 15px 0 0 25px;
}

.real .real_search .entry dl {
  float: left;
  display: inline;
  padding: 0 10px 10px 0;
}

.real .real_search .entry dl dt {
  float: left;
  display: inline;
  width: 50px;
  line-height: 28px;
  color: #666;
  text-align: center;
}

.real .real_search .entry dl dd {
  position: relative;
  float: left;
  display: inline;
  z-index: 5;
}

.real .real_search .entry dl dd input {
  width: 110px;
  height: 20px;
  padding: 3px 5px;
  border: 1px solid #ccc;
}

.real .real_search .entry dl dd .one_con {
  position: absolute;
  left: 0;
  top: 27px;
  width: 120px;
  border: 1px solid #ccc;
  background: #fff;
}

.real .real_search .entry dl dt {
  float: left;
  display: inline;
  width: 50px;
  line-height: 28px;
  color: #666;
  text-align: center;
}

.real .real_search .entry dl dd input {
  width: 110px;
  height: 20px;
  padding: 3px 5px;
  border: 1px solid #ccc;
}

.real .real_search .entry dl dd .one_con {
  position: absolute;
  left: 0;
  top: 27px;
  width: 120px;
  border: 1px solid #ccc;
  background: #fff;
}

.clearfix:after {
  content: '\20';
  display: block;
  height: 0;
  clear: both;
}

.real .real_search .entry .blue {
  float: left;
  display: inline-block;
  width: 60px;
  height: 28px;
  margin: 0 10px 0 0;
  line-height: 28px;
  background: #0073d9;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

.real .real_search .entry dl dd input.long {
  width: 292px;
}

.result_ul_item li .button {
  float: left;
  width: 79px;
  height: 24px;
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -24px;
}

.result_ul_item .icon4 {
  position: relative;
  display: inline-block;
  width: 58px;
  height: 22px;
  border: 1px solid #ccc;
  line-height: 22px;
  background: url(../images/icon4.png) no-repeat 6px 2px;
  font-style: normal;
  color: #317ee7;
  text-indent: 30px;
  cursor: pointer;
}