.result_ul_header .money{
	  float: left;
	  display: inline-block;
	  height: 28px;
		  border: 1px solid #ccc;
	  line-height: 20px;
	  background: url(../images/sort_bg.png) repeat-x;
	  color: #666;
}

.result_ul_header a.active {
  box-shadow: inset 1px 2px 2px #ddd;
  background: #fff;
  color: #ff5500;
  line-height: 27px;
  padding: 3px 12px;
  text-align: center;
}

.result_ul_header a.last {
  border-left: none;
}

.result_ul_header .money .icon_arrow {
  display: inline-block;
  width: 8px;
  height: 11px;
  margin: 0 0 0 4px;
  background: url(../images/spot.png) no-repeat -134px -69px;
  overflow: hidden;
  vertical-align: -1px;
}

.money a.active .icon_arrow {
  background-position: -134px -81px;
}

.result_ul_item li .button {
  width: 69px;
}
.result_ul_item li .button .buy {
  width: 40px;
  padding: 0 0 0 28px;
}



/*不同*/
.filter_form_div .form_content{
  height: auto;
}

.filter_form_div {
  float: left;
}
.form_ul li{
  margin-right: 26px;
}
.filter_result_table {
  float: left;
}
.form_ul li.no_mr{
  margin-right:0px;
}