.count {
  position: absolute;
  z-index: 999;
  bottom: 10px;
  left: 45%;
  background: rgba(0,0,0,0.5);
  color: #fff;
  border-radius: 3px;
  padding: 1px 8px;
}

.bk {
  display: block;
  width: 100%;
  height: auto;
}