/*upload_resource  content start*/

.res_content{
	padding: 10px 0 20px;
}

.res_contennt .fl_content{
  display: inline;
  width: 690px;
}

.res_contennt .fl_content .way {
  height: 215px;
  border: 1px solid #d3e6dc;
  background: #f7fffb;
}

.res_contennt .fl_content .way .one {
  position: relative;
  padding: 0 20px;
}
.res_contennt .fl_content .way h3 {
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  color: #3d3d3d;
}

.way {
  height: 215px;
  border: 1px solid #d3e6dc;
  background: #f7fffb;
}
.way h3 {
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  color: #3d3d3d;
  font-weight: bold;
}

.way .one {
  position: relative;
  padding: 0 20px;
} 

.way .one .select {
  height: 55px;
  padding: 8px 0 0;
}

.way .one .select .uploadify {
  float: left;
  display: inline-block;
  width: 157px;
  height: 45px;
  margin: 0 10px 0 0;
  background: url(../images/bill.png) no-repeat 0 -92px;
}


.uploadify-button {
  float: left;
  display: inline-block;
  width: 157px;
  height: 45px;
  margin: 0 10px 0 0;
  background: url(../images/bill.png) no-repeat 0 -92px;
}
.way .one .select span {
  float: left;
  display: inline-block;
  color: #999;
}

.uploadify-queue {
  margin-bottom: 1em;
}

.way .one .select span {
  float: left;
  display: inline-block;
  color: #999;
}

/*wait ...  start*/
.way .one .wait {
  height: 120px;
  padding: 5px 0 0;
}
.way .one .wait .loading {
  position: relative;
  height: 20px;
  border: 1px solid #f2c16d;
  background: #fff;
}
.way .one .wait .loading .speed {
  width: 30%;
  height: 20px;
  background: #fae8ac;
}
.way .one .wait .loading .text {
  position: absolute;
  left: 0;
  top: 0;
  width: 648px;
  line-height: 20px;
  color: #3d3d3d;
  text-align: center;
}

.way .one .wait p {
  padding: 10px 0 0;
  line-height: 24px;
  color: #999;
}

.way .one .wait p span {
  color: #f21e0f;
}

.way .one .wait p .icon_excel {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 4px 0 0;
  background: url(../images/bill.png) no-repeat -360px -38px;
  vertical-align: -2px;
}
.way .one .wait p a {
  display: inline-block;
  width: 70px;
  height: 24px;
  margin: 0 0 0 15px;
  line-height: 24px;
  background: url(../images/bill.png) no-repeat -227px -63px;
  color: #3d3d3d;
  text-align: center;
}
.way .tip {
  position: absolute;
  right: 8px;
  top: 8px;
  line-height: 14px;
}

.way .tip a {
  color: #0b6fb3;
}

.way .tip .icon_down {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0 0 0 4px;
  background: url(../images/bill.png) no-repeat -379px -15px;
  vertical-align: -3px;
}

.way .tip .icon_up {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0 0 0 4px;
  background: url(../images/bill.png) no-repeat -379px 0;
  vertical-align: -3px;
}
/*wait ...  end*/

.way .two {
  position: relative;
  padding: 0 20px;
}
.way .two .textarea textarea {
  width: 636px;
  height: 60px;
  margin: 0;
  padding: 5px;
  border: 1px solid #ccc;
  font-size: 12px;
}




/*fill  conent start*/
.fill {
	margin: 10px 0 0;
	padding: 0 0 40px;
	border: 1px solid #d3e6dc;
	background: #f2faff;
}

.fill h3 {
	height: 32px;
	margin: 0 0 8px;
	border-bottom: 1px dashed #dcdcdc;
	line-height: 32px;
	font-size: 12px;
	color: #3d3d3d;
	text-indent: 20px;
}
.fill dl {
  padding: 15px 0 0;
}

.fill dl dt {
	float: left;
	display: inline;
	width: 100px;
	padding: 0 20px 0 0;
	line-height: 22px;
	text-align: right;
}
.fill dl dt span {
  color: #f21e0f;
}


.fill dl dd {
  float: left;
  display: inline;
}

.fill dl dd.sel {
  line-height: 22px;
  color: #999;
}

.fill dl dd.sel select {
  width: 90px;
  height: 22px;
  margin: 0 10px 0 0;
  border: 1px solid #ccc;
}

.fill dl dd.textarea textarea {
  width: 536px;
  height: 60px;
  margin: 0;
  padding: 5px;
  border: 1px solid #ccc;
  font-size: 12px;
}

.fill dl dd.checkbox input {
  margin: 0 3px 0 0;
  padding: 0;
  vertical-align: -2px;
}

.fill dl dd.checkbox {
  line-height: 22px;
}

.fill dl dd.checkbox span {
  margin: 0 8px 0 0;
}

.fill dl dd.btn a {
  display: block;
  width: 117px;
  height: 30px;
  line-height: 30px;
  background: url(../images/bill.png) no-repeat -158px -92px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}
/*fill  conent end*/



/*right_content  start*/
.right_content{
	display: inline;
	width: 295px;
	margin: 0 0 0 15px;		
}

.right_content .link {
  padding: 10px 0 10px 10px;
  border: 1px solid #faddac;
  background: #fffaeb;
}
.right_content .link span {
  display: block;
  padding: 0 0 10px;
  color: #3d3d3d;
}


.right_content .link input {
  width: 190px;
  height: 22px;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  line-height: 22px;
}

.right_content .link a {
  display: inline-block;
  width: 70px;
  height: 24px;
  line-height: 24px;
  background: url(../images/bill.png) no-repeat -227px -63px;
  font-size: 12px;
  color: #3d3d3d;
  text-align: center;
}


.right_content .tip {
  margin: 15px 0 0;
  padding: 3px;
  background: #f2f2f2;
}

.right_content .tip .box {
  padding: 0 10px;
  border: 1px solid #e6e6e6;
  background: #fff;
}

.right_content .tip .box h3 {
  height: 32px;
  border-bottom: 1px solid #e6e6e6;
  line-height: 32px;
  font-size: 14px;
  font-weight: bold;
  color: #3d3d3d;
}

.right_content .tip .box p {
  margin: 10px 0 0;
  line-height: 20px;
  color: #3d3d3d;
}

.right_content .tip .box p span {
  color: #0b6fb3;
}

.right_content .example {
  margin: 15px 0 0;
  border: 1px solid #e6e6e6;
  background: #fff;
  color: #3d3d3d;
}

.right_content .example h3 {
  height: 32px;
  border-bottom: 1px solid #e6e6e6;
  line-height: 32px;
  background: #f5f5f5;
  font-size: 14px;
  font-weight: bold;
  color: #3d3d3d;
  text-indent: 10px;
}


.right_content .example p {
  padding: 5px 10px;
  line-height: 20px;
}
.right_content .example h3 span {
  font-size: 12px;
}

.blue {
  color: #4096ee;
}

.right_conten .example p a {
  float: right;
  color: #0b6fb3;
}

.right_conten .example p .icon_excel {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../img/spot/spot.png) no-repeat -168px -50px;
  overflow: hidden;
  vertical-align: -3px;
}

.right_content a{
	color: #0b6fb3;
}
/*right_content  end*/


/*upload_resource  content end*/
