/*--------------------- user_aucion_content   start --------------------- */
.user_auction_content{
	padding: 10px 0;
	background: #f3f4f8;
	color: #1c232e;
}
.user_auction_content h2{
	padding: 20px 0 15px;
	font-size: 18px;
	color: #474e5d;
}
.user_auction_content .tab {
  height: 22px;
  margin: 0 0 20px;
}

.user_auction_content .tab a {
  display: inline-block;
  height: 22px;
  margin: 0 10px 0 0;
  padding: 0 8px;
  border-radius: 2px;
  line-height: 22px;
  color: #666;
}

.user_auction_content .tab a.active {
  background: #f15d53;
  color: #fff;
}
/*--------------------- user_aucion_content   end --------------------- */
.result_ul_item li .button {
  position: relative;
  float: left;
  width: 67px;
}

.filter_result_table ul {
  float: left;
  width: 100%;
  border-right: 1px solid #ddd;
}

.del_a{
  color: #405BC8;
}
.del_a:hover{
  text-decoration: underline;
}