
.userInfo{
  margin: 0 0 30px;
  border-bottom: 1px solid #e2e8ed;
  box-shadow: 0 0 4px #ccc;
  background: url(../images/userInfo_bg.png) repeat-y;
}

.sidebar {
  float: left;
  display: inline;
  width: 163px;
  padding: 20px 0 0;
  border: 1px solid #e2e8ed;
  border-bottom: 0;
  background: #f2f2eb;
}

.sidebar .menu {
  padding: 0 0 16px;
}

.sidebar .menu h3 {
  height: 20px;
  margin: 0 0 10px;
  padding: 0 0 0 20px;
  font-size: 14px;
  color: #333;
}

.sidebar .menu ul li {
  line-height: 24px;
}

.sidebar .menu ul li a {
  display: block;
  width: 127px;
  height: 24px;
  padding: 0 0 0 36px;
  color: #666;
}

.sidebar .menu ul li a {
  color: #666;
}
.sidebar .menu ul li.selected {
  position: relative;
  width: 164px;
  _width: 163px;
  background: #3A83E8;
}



/*right*/
.content {
  position: relative;
  float: left;
  display: inline;
  padding-top: 22px;
  width: 834px;
  min-height: 600px;
  background: #F7F6F2;
  color: #4D4D4D;
  border-right: 1px solid #e2e8ed;
  border-left: 0;
}

.vip-tabnav {
  position: relative;
}

.vip-tabnav-list {
  margin-bottom: -1px;
  padding-left: 15px;
  width: 819px;
  height: 29px;
  border-bottom: 1px solid #0073D9;
}

.vip-tabnav-list li {
  position: relative;
  float: left;
  margin-left: 4px;
  width: 84px;
  height: 28px;
  line-height: 29px;
  text-align: center;
  border: 1px solid #E4E4E4;
  border-bottom: 0;
  background: #F2F2F2;
}

.vip-tabnav-list li.first {
  margin-left: 0;
}

.vip-tabnav-list li.selected {
  border: 1px solid #0073D9;
}

.vip-tabnav-list li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #4D4D4D;
}

.vip-tabnav-list li.selected .vip-tabnav-item-cover {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 84px;
  height: 29px;
  background: #F7F6F2;
  font-weight: 700;
}


.content-bd {
  padding: 25px;
}

.avatar-edit {
  position: relative;
  display: block;
  float: left;
  width: 100px;
  height: 100px;
}

.content-bd a, .dialog a {
  color: #3A83E8;
}


.avatar-edit img {
  border: 0;
  width: 100px;
  height: 100px;
}

.effect-overlay-50pc {
  background-color: #000;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}


.avatar-edit span {
  position: absolute;
  display: none;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 23px;
  line-height: 23px;
  color: #FFF;
  text-align: center;
}

.content-bd .vip-form {
  float: left;
}


.vip-form p {
  margin-bottom: 10px;
  height: 32px;
  line-height: 32px;
}


.vip-form-info {
  margin-right: 1em;
  width: 70px;
  text-align: right;
}

.vip-form label, .vip-form span, .vip-form a {
  display: block;
  float: left;
}


.vip-form input.text, .vip-form input.password, .vip-form .textarea {
  display: inline-block;
  float: left;
  margin-right: 1em;
  width: 186px;
  height: 30px;
  line-height: 30px;
  padding: 0 6px;
  border: 1px solid #E4E4E4;
}

.vip-form .form-tip-warning-fl, .vip-form .form-tip-warning-block {
  color: #F50000;
}


.vip-form label, .vip-form span, .vip-form a {
  display: block;
  float: left;
}

.vip-form .w200 {
  margin-right: 1em;
  width: 200px;
}

.link-action {
  text-decoration: underline;
}

.vip-form p.row-btn {
  padding-top: 13px;
  margin-bottom: 0;
}

.vip-form .btn-form, .dialog .btn-form {
  margin-left: 82px;
  margin-right: 1em;
  padding: 0 22px;
  height: 30px;
  line-height: 30px;
}

.content-bd .btn-blue, .dialog .btn-blue, .vip-certification .btn-blue, .search-bar .btn-blue {
  display: inline-block;
  background: #3A83E8;
  text-align: center;
  color: #FFF;
}

.vip-form .icon-right {
  height: 30px;
  line-height: 30px;
  background-position: 0 50%;
}

.vip-certification {
  padding: 20px 0 25px 44px;
  height: 80px;
  border-top: 1px solid #E4E4E4;
  border-bottom: 1px solid #E4E4E4;
}

.vip-certification-list {
  overflow: hidden;
  height: 80px;
}


.vip-certification-item-cellphone {
  width: 245px;
}


.vip-certification-list li {
  position: relative;
  float: left;
  height: 80px;
}

.icon-cellphone {
  display: block;
  float: left;
  width: 80px;
  height: 80px;
  background: url("../images/cellphone.png") transparent no-repeat;
}

.vip-certification-item-bd {
  display: block;
  float: right;
}

.vip-certification-item-cellphone .vip-certification-item-bd {
  width: 145px;
}


.vip-certification-item-bd h3 {
  font-size: 16px;
}


.vip-certification-status {
  position: relative;
  display: block;
  margin: 7px 0;
  height: 16px;
  line-height: 16px;
}

.vip-certification-status .icon-right, .vip-certification-status .icon-warning {
  margin-right: 5px;
}

.sidebar .menu h3 {
  height: 20px;
  margin: 0 0 10px;
  padding: 0 0 0 20px;
  font-size: 14px;
  color: #333;
  font-weight: bold;
}

.sidebar .menu ul li.selected a {
  color: #FFF;
}




/*head*/

.head{
	height: 60px;
	background: #005bac;
}

.head .logo {
  float: left;
  display: inline;
  width: 145px;
  padding: 15px 0 0 20px;
}

.head .logo a {
  display: block;
  width: 87px;
  height: 33px;
  background: url(../img/viplogo.jpg) no-repeat;
}

.head .text {
  float: left;
  display: inline;
  width: 835px;
  padding: 18px 0 0;
}


.head .text a {
  float: left;
  display: inline-block;
  margin: 2px 0 0 25px;
  color: #fff;
  font-size: 14px;
}

.head .text h2 {
  float: left;
  display: inline-block;
  height: 26px;
  margin: -2px 0 0;
  line-height: 22px;
  font-size: 22px;
  color: #fff;
  font-weight: normal;
}

.head .text h2 .icon_line {
  display: inline-block;
  width: 2px;
  height: 18px;
  margin: 0 0 0 25px;
  background: url(../images/bg.png) no-repeat -89px -6px;
  vertical-align: middle;
  overflow: hidden;
}

.head .text a {
  float: left;
  display: inline-block;
  margin: 2px 0 0 25px;
  color: #fff;
  font-size: 14px;
}

.head .text a span {
  margin: 0 0 0 5px;
  color: #ffd200;
  vertical-align: -1px;
}