<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head th:replace="layout/userCenter :: head (title='我的出售--觅油网用户中心')">
</head>
<body>
	<div id="wrapper">
		<div class="nav-bar-container" th:replace="layout/userCenter :: nav">
		</div>
		<!--.nav-bar-container-->

		<div id="page-wrapper">
			<div class="row">
				<div align="center">
					<h2>我的订单列表</h2>
				</div>
				<table class="table">
				<thead>
					<tr>
						<td>订单编号</td>
						<td>油品名称</td>
						<td>订单金额</td>
						<td>收货地址</td>
						<td>收货人</td>
						<td>操作</td>
					</tr>
					</thead>
					<tbody>
					<tr th:each="order,orderStat:${jdbcPage.pageItems}">
						<td th:text="${order.id}"></td>
						<td><a th:href="${'/product/show/'+order.product.id}" target="_blank"  th:text="${order.product.name}"></a></td>
						<td><span th:text="${order.orderNumber}"></span>&nbsp;X&nbsp;<span th:text="${order.product.unitPrice}"></span>=<span th:text="${order.sumPrice}"></span>
						</td>
						<td th:text="${order?.orderAddress?.address}"></td>
						<td><span th:text="${order?.orderAddress?.name}"></span>
						<span th:text="${order?.orderAddress?.tel}"></span>
						</td>
						<td th:if="${order.orderStatus.toString()=='PAYMENT_FINISH'}">
						<div id="paymentFinishDiv">
						付款成功
						<a href="#" th:attr="data-id=${order.id}" onclick="sendGood(this)">完善物流</a>
						</div>
						<a href="#" th:href="${'/order/show/'+order.id}" target="_blank">查看</a>
						</td>
						<td th:if="${order.orderStatus.toString()=='SEND'}">
						<a href="#" th:href="${'/order/show/'+order.id}" target="_blank">已经发贷
						<span th:text="${order?.wuluType?.name+order?.wuluId}"></span>
						</a>
						</td>
						<td th:if="${order.orderStatus.toString()=='PAYMENT'}">
						<a href="#" th:href="${'/order/show/'+order.id}" target="_blank">正在支付</a>
						</td>
						<td th:if="${order.orderStatus.toString()=='FINISH'}">
						<a href="#" th:href="${'/order/show/'+order.id}" target="_blank">交易完成</a>
						</td>
					</tr>
					</tbody>
				</table>
				<span>当前第:<label th:text="${jdbcPage.pageNumber +1}"></label>页,总计<label
					th:text="${jdbcPage.pagesAvailable}"></label>页
				</span>
			</div>
		</div>
	</div>
			<!-- Modal -->
		<div class="modal fade" id="wuluModal" tabindex="-1" role="dialog"
			aria-labelledby="wuluModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<form method="post" action="/orderAddress/save"
						id="sendGoodForm" class="form-horizontal">
						<input type="hidden" id="orderId" name="orderId"/>
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="myModalLabel">物流信息填写</h4>
							
						</div>
						<div class="modal-body">
							<div class="form-group">
								<label class="col-md-3 col-md-offset-1 addressClass" for="name">物流名称</label>
								<div class="col-md-6">
									<select class="form-control" 
										id="wuluTypeSelect" name="wuluTypeId">
									
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 col-md-offset-1 addressClass" for="wuluId">物流单号</label>
								<div class="col-md-6">
									<input type="text" required="required" class="form-control"
										id="wuluId" name="wuluId" />
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary text-right">保存</button>
							<button type="button" class="btn btn-default"
								data-dismiss="modal">关闭</button>
						</div>
					</form>
				</div>
			</div>
		</div>
<!-- 		model end -->
	<div th:replace="layout/userCenter :: jsEnd" >
	</div> 
	<div th:replace="layout/plugins :: jquery-validation"></div>
	<script type="text/javascript" src="/resources/jsCustom/seller/seller.js"></script>
</body>
</html>