<div class="row demo-columns"  th:fragment="imageFileUpload" >
    <div class="col-md-12">
        <!-- D&D Zone-->
        <div id="drag-and-drop-zone" class="uploader">
            <div>拖拽付款凭据文件到此处</div>
            <div class="or">-or-</div>
            <div class="browser">
                <label>
                    <span>点击打开文件浏览</span>
                    <input type="file" name="files[]"  accept="*"  title='点击添加文件'/>
                </label>
            </div>
        </div>
        <!-- /D&D Zone -->
        <!-- /Debug box -->
    </div>
    <!-- / Left column -->
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">上传进度</h3>
            </div>
            <div class="panel-body demo-panel-files" id='demo-files'>
                    <span class="demo-note">当前没有文件上传</span>
            </div>
        </div>
    </div>
    <!-- / Right column -->
</div>