<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:wb="http://open.weibo.com/wb">
<head th:replace="layout/bootstrap :: head (title='订单信息查看--觅油网')">
</head>
<body>
	<link rel="stylesheet" href="/resources/css/share.css" />
	<nav class="navbar navbar-default" th:replace="layout/bootstrap :: nav"></nav>
	<div class="container">
		<div class="well" style="min-height:500px;">
		<h1 class="text-center">操作太慢，当前产品已经被人抢光光啦，只能预订<span th:text="${maxOrderNumber}"></span></h1>
		<a href="/product/list/10/0" ><h2 class="text-center">返回商城，抢抢抢</h2></a>
		</div>
	</div>
	<div th:replace="layout/bootstrap :: footer"></div>
	<div th:replace="layout/bootstrap :: jsEnd"></div>
</body>
</html>