<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:wb="http://open.weibo.com/wb">
<head th:replace="layout/bootstrap :: head (title='订单信息确认--觅油网')">
</head>
<body>
 <link rel="stylesheet" href="/resources/css/share.css"/>
	<nav class="navbar navbar-default" th:replace="layout/bootstrap :: nav1"></nav>
	<div class="container">
		<div class="container-fluid">
		<div class="row ">
		<div class="wizard-steps" th:if="${order.orderStatus.toString()=='LOCK'}" >
		 <div class="completed-step" ><a href="#step-one"><span>1</span> 创建订单</a></div>
		 <div class="active-step"><a href="#step-two"><span>2</span>订单付款</a></div>
		 <div  ><a href="#"><span>3</span>提贷 </a></div>
		 <div  ><a href="#"><span>4</span> 交易完成</a></div>
		</div>
		<div class="wizard-steps"  th:if="${order.orderStatus.toString()=='CHECK_PAYMENT'}"  >
			 <div class="completed-step" ><a href="#step-one"><span>1</span> 创建订单</a></div>
		 <div class="active-step"><a href="#step-two"><span>2</span>订单付款</a></div>
		 <div  ><a href="#"><span>3</span>提贷 </a></div>
		 <div  ><a href="#"><span>4</span> 交易完成</a></div>
		</div>
		<div class="wizard-steps" th:if="${order.orderStatus.toString()=='SEND'}" >
		 <div class="completed-step" ><a href="#step-one"><span>1</span> 创建订单</a></div>
		 <div class="completed-step"><a href="#step-two"><span>2</span>订单付款</a></div>
		 <div  class="active-step"><a href="#"><span>3</span>提贷 </a></div>
		 <div  class=""><a href="#"><span>4</span> 交易完成</a></div>
		</div>
		<div class="wizard-steps" th:if="${order.orderStatus.toString()=='FINISH'}">
		<div class="completed-step" ><a href="#step-one"><span>1</span> 创建订单</a></div>
		 <div class="completed-step"><a href="#step-two"><span>2</span>订单付款</a></div>
		 <div  class="completed-step"><a href="#"><span>3</span>提贷 </a></div>
		 <div  class="completed-step"><a href="#"><span>4</span> 交易完成</a></div>
		</div>
		</div>
			<div class="row">
				<div class="well">
					<div align="center">
						<h3>订单信息查看</h3>
					</div>
					<form method="post" action="/order/save" class="form-inline">
						<input type="hidden" name="orderAddressId" value="0" />
						<input type="hidden" name="invoiceId" value="0" />
						<input type="hidden" name="orderId" th:value="${order.id}" id="orderId" />
						<input type="hidden" name="productId" th:value="${product.id}" />
						<input type="hidden" name="orderNumber" th:value="${orderNumber}" />
						<h4>
							金额
						</h4>
						<table class="table">
							<thead>
								<tr>
									<th>件数</th>
									<th>单价</th>
									<th>总价</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td th:text="${order.orderNumber}">10</td>
									<td th:text="${product.unitPrice}">88</td>
									<td th:text="${order.sumPrice+'元'}">880</td>
								</tr>
							</tbody>
						</table>
						<hr />
						<div class="row" th:replace="order/_form :: form"></div>
						
						<hr/>
						<div th:if="${order.orderStatus.toString()=='LOCK'}" class="row text-right">
							提交后不能再上传付款凭据文件&nbsp;<button type="button" id="submitCheckButton" class="btn btn-success ">提交付款审核</button>
					
						<div th:if="${order.orderStatus.toString()=='LOCK'}"  th:replace="order/_imageFileUpload :: imageFileUpload">
						</div>
						
						<div th:unless="${order.paymentCredential}" >
						<img id="paymentImg" src="" alt="付款凭据还没有上传哦,请尽快上传!"></img>
						</div>
						</div>
						<div th:if="${order.orderStatus.toString()=='CHECK_PAYMENT'}" class="row text-right">
							提交后不能再上传付款凭据文件&nbsp;<label class="btn btn-success ">正在审核付款</label>
						</div>
						<div th:if="${order.orderStatus.toString()=='SEND'}" class="row text-right">
							<label class="btn btn-success ">审核付款成功,请联系客服提贷</label>
						</div>
							<hr/>
						<div th:if="${order.paymentCredential}">
						<img id="paymentImg" th:src="${'/upload/'+order.paymentCredential.storePath}"></img>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="layout/bootstrap :: footer"></div>
	<div th:replace="layout/bootstrap :: jsEnd"></div>
    <script src="/resources/js/dmuploader.min.js"></script>
     <script src="/resources/jsCustom/order/paymentUpload.js"></script>
      <script>
    	var fileUploadUrl="/order/upload/paymentCredential/";
    	var submitCheckUrl="/order/submitCheck/"
    	var orderId = $("#orderId").val()
    	var extraData = {orderId:orderId}
    </script>
    <style>
    .demo-panel-files {
    cursor: default;
    max-height: 100px;
    min-height: 100px;
    overflow: auto;
}
#paymentImg{width:100%}
</style>
</body>
</html>