<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head th:replace="layout/admin :: head (title='文章管理--管理员后台')">
<!-- BEGIN PLUGINS CSS -->
<!-- END PLUGINS CSS -->
</head>
<body>
	<div class="nav-bar-container" th:include="layout/admin :: nav">
	</div>
	<div id="page-wrapper">
		<div class="row">
			<div align="center">
				<h1>文章列表</h1>
				
			</div>
			<a class="btn btn-primary" href="/article/create">创建新文章</a>
		<table class="table">
				<thead>
					<tr>
						<td>文章id</td>
						<td>标题</td>
						<td>展示次数</td>
						<td>操作</td>
					</tr>
					</thead>
					<tbody>
					<tr th:each="article,articleStat:${jdbcPage.pageItems}">
						<td th:text="${article[0]}"></td>
						<td th:text="${article[1]}">
						</td>
						<td th:text="${article[5]}">
						"select a.id,
								a.title,a.metaDesc,fileInfo.storePath" + " ,a.dateCreated,a.showTimes "
						</td>
						<td>
						<a href="#"  th:href="${'/article/edit/'+article[0]}">编辑</a>
						<a href="#"   th:attr="onclick=${'articleDel('+article[0]+')'}"	>删除</a>
						<a href="#" th:href="${'/article/show/'+article[0]}" target="_blank">查看</a>
						</td>
					</tr>
					</tbody>
				</table>
				<span>当前第:<label th:text="${jdbcPage.pageNumber +1}"></label>页,总计<label
					th:text="${jdbcPage.pagesAvailable}"></label>页
				</span>
		</div>
	</div>
	<div th:include="layout/admin :: jsEnd"></div>
	<script type="text/javascript"  th:inline="text">
	   var articleDelUrl ="/article/delete/";
	</script>
</body>
</html>