<div class="well" th:fragment="images" id="imagesDiv">
	<h4>已经上传的图片</h4>
	<div class="row">
		<div class="col-md-3" th:each="image,imageStat:${product?.images}">
			<img style="height:160px;" th:src="${'/upload/'+image.storePath}" class="col-md-12"/>
			<br/>
			<div class="text-center col-md-12" style="margin-top:10px;">
			
			<button th:attr="data-id=${image.id}" data-id="4" onclick="setMainPhoto(this)" 
			type="button" th:id="${'imageBtnSet'+image.id}" class="btn btn-primary btn-sm col-md-9" >设置为首图</button>
			</div>
			<div class="text-center col-md-12" style="margin-top:10px;">
			<button th:attr="data-id=${image.id}" data-id="4" onclick="removeFromCarousel(this)" 
			type="button" th:id="${'imageBtnCarousel'+image.id}" class="btn btn-primary btn-sm col-md-9" 
			 th:if="${#lists.contains(product.imagesCarousel, image)}">轮播图片中移除</button>
			<button th:id="${'imageBtnCarousel'+image.id}" th:attr="data-id=${image.id}" data-id="4" onclick="addToCarousel(this)" 
			type="button" class="btn btn-primary btn-sm col-md-9"  th:unless="${#lists.contains(product.imagesCarousel, image)}">添加到轮播图片</button>
			</div>
			<div class="text-center col-md-12" style="margin-top:10px;">
			
			<button th:attr="data-url=${image.storePath}"  onclick="insertPhoto(this)" 
			type="button" class="btn btn-primary btn-sm col-md-6">插入产品详情</button>
			<button th:id="${'imageBtnDel'+image.id}" th:attr="data-id=${image.id}" data-id="4" onclick="delPhoto(this)" 
			type="button"  class="btn btn-danger btn-sm col-md-6">删除图片</button>
			</div>
		</div>
	</div>
</div>