<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head th:replace="layout/admin :: head (title='管理员后台')">
<!-- BEGIN PLUGINS CSS -->
<!-- END PLUGINS CSS -->
</head>
<body>
	<div class="nav-bar-container" th:include="layout/admin :: nav">
	</div>
	<div id="page-wrapper">
		<div class="row">
			<div align="center">
				<h1>产品列表</h1>
			</div>
			<table class="table">
				<tr>
					<td>制造工厂/品牌</td>
					<td>分类</td>
					<td>总数</td>
					<td>销售价格</td>
					<td>操作</td>
				</tr>
				<tr th:each="product,producStat:${jdbcPage.pageItems}">
					<td th:text="${product.madeFactory}"></td>
					<td th:text="${product.catalogStr}"></td>
					<td th:text="${product.sellSumNumber}"></td>
					<td th:text="${product.unitPrice+' / '+product.productUnit}"></td>
					<td><a href="javaScript:void(0)"
						th:attr="onclick=${'productCheck('+product.id+',true)'}">审批通过</a>
						<a href="javaScript:void(0)"
						th:attr="onclick=${'productCheck('+product.id+',false)'}">审批不通过</a>
						<a href="javaScript:void(0)" th:href="@{'/product/show/'+${product.id}}">详情</a>
						</td>
				</tr>
			</table>

			<span>当前第:<label th:text="${jdbcPage.pageNumber +1}"></label>页,总计<label
				th:text="${jdbcPage.pagesAvailable}"></label>页
			</span>
		</div>
	</div>
	<div th:include="layout/admin :: jsEnd"></div>
</body>
</html>