<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:wb="http://open.weibo.com/wb">
<head th:replace="layout/bootstrap :: head (title='资源单--觅油网')">
</head>
<body>
	<div class="navbar navbar-default"
		th:replace="layout/bootstrap :: nav1"></div>
	<div class="container">
		<div class="row" th:replace="layout/bootstrap :: search"></div>
		<div class="row"
			th:replace="layout/bootstrap :: menu (active='resources')"></div>
		<div class="row">
			<div class="shop_content search_filter_content">
				<div class="row text-center">
					<!-- filter form start -->
					<div class="filter_form_div clearfix">
						<form class="form-inline" action="/product/resource/list/10/0"
							name="filter_form" method="post">
							<div class="form-group">
								<label for="level">油品分级</label> <select
									class="form-control input-sm" name="productCatalogId"
									id="one_classify">
									<option value="">全部</option>
									<option
										th:each="productCatalog,productCatalogStat:${productCatalogList}"
										th:value="${productCatalog.id}"
										th:text="${productCatalog.name}">全部</option>
								</select>
							</div>
							<div class="form-group">
								<label for="madeFactory">厂商</label> <input type="text"
									id="madeFactory" class="form-control input-sm"
									name="madeFactory" value="" tabindex="1" />
							</div>
							<div class="form-group">
								<label for="storageLocationId">仓库</label> <select
									name="storageLocationId" id="storageLocationId"
									class="form-control input-sm">
									<option value="">全部</option>
									<option
										th:each="storageLocation,storageLocationStat:${storageLocationList}"
										th:value="${storageLocation.id}"
										th:text="${storageLocation.name}">全部</option>
								</select>
							</div>
							<input type="submit" id="search" class="btn  btn-default"
								name="search" value="搜索" />
						</form>
					</div>
					<!-- filter form end -->
				</div>
				<div class="well" style="margin-top: 20px;">
					
							<div class="table-responsive">
								<table class="table">
									<thead>
										<tr>
											<th>厂商</th>
											<th>分类</th>
											<th>仓库</th>
											
											<th>总计</th>
											<th>可供</th>
											<th>单价</th>
											<th>资质文件下载</th>
											<th>状态</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="product,productStat:${jdbcPage.pageItems}">
											<td th:text="${product.madeFactory}">厂商</td>
											<td th:text="${product.catalogStr}">分类</td>
											<td> <span th:text="${storageLocation.name}" th:each="storageLocation,storageLocationStat:${product.storageLocations}">
									仓库</span></td>
											<td th:text="${product.sellSumNumber}">总计</td>
											<td th:text="${product.sellSumNumber-product.selledNumber}">可供</td>
											<td th:text="${product.unitPrice}">单价</td>
											<td><a target='_blank'
												th:href="@{'/fileInfo/download/'+${product.analysisReport.id}}">下载</a></td>
											<td><span
												th:if="${product.productStatus.toString()=='CHECK'}">
													正在审核 </span> <span
												th:if="${product.productStatus.toString()=='ONLINE'}">
													正在出售 </span> <span class="w10"
												th:if="${product.productStatus.toString()=='FINISH'}">
													出售完成 </span></td>
										</tr>
									</tbody>
								</table>
							</div>
						
					<!-- page  start -->
					<nav>
						<div class="c_width" th:if="${jdbcPage.sumItem!=0}">
							<ul class="pagination">
								<li th:if="${jdbcPage.pageNumber!=0}"><a
									href="javaScript:void(0)"
									th:attr="href=${'/product/list/'+jdbcPage.max+'/'+jdbcPage.max*(jdbcPage.pageNumber-1)+paramsUrl}">上一页</a></li>
								<li th:unless="${jdbcPage.pageNumber!=0}" class="disabled">
									<a href="javaScript:void(0)">上一页</a>
								</li>
								<li
									th:each="i : ${#numbers.sequence( 0, jdbcPage.pagesAvailable-1)}">
									<a href=""
									th:attr="href=${'/product/list/'+jdbcPage.max+'/'+jdbcPage.max*i+paramsUrl}"
									index="1" th:text="${i+1}">1</a>
								</li>

								<li th:if="${jdbcPage.pageNumber != jdbcPage.pagesAvailable-1}">
									<a href="javaScript:void(0)"
									th:attr="href=${'/product/list/'+jdbcPage.max+'/'+jdbcPage.max*(jdbcPage.pageNumber+1)+paramsUrl}">下一页</a>
								</li>
								<li class="disabled"
									th:unless="${jdbcPage.pageNumber!=jdbcPage.pagesAvailable-1}">
									<a href="javaScript:void(0)">下一页</a>
								</li>
								<li class="disabled"><a href="javaScript:void(0)"
									class="all_page"> 当前第<span
										th:text="${jdbcPage.pageNumber+1}">50</span>页， 共<span
										th:text="${jdbcPage.pagesAvailable}">50</span>页
								</a></li>
							</ul>
						</div>
						<div class="c_width" th:if="${jdbcPage.sumItem==0}">
							没有查找到相关数据,请重选搜索.</div>
					</nav>
					<!-- page  end -->
				</div>
			</div>
		</div>
	</div>

	<hr />
	<div class="text-center" th:replace="layout/bootstrap :: footer">
	</div>
	<div th:replace="layout/bootstrap :: jsEnd"></div>
	<form id="orderForm" action="/order/to/create" method="post">
		<input name="productId" type="hidden" id="productId" value="0" /> <input
			name="orderNumber" type="hidden" id="orderNumber" value="0" />
	</form>
	<script type="text/javascript" src="/resources/jsCustom/order.js"></script>
</body>
</html>