<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head th:replace="layout/userCenter :: head (title='我的资源单--觅油网用户中心')">
</head>
<body>
	<div id="wrapper">
		<div class="nav-bar-container" th:replace="layout/userCenter :: nav">
		</div>
		<!--.nav-bar-container-->



		<div id="page-wrapper">
			<div class="row">
				<div align="center">
					<h1>我的资源单</h1>
				</div>
				<table class="table">
					<tr>
						<td>名称</td>
						<td>制造工厂/品牌</td>
						<td>分类</td>
						<td>已售/库存</td>
						<td>销售价格</td>
						<td>状态</td>
						<td>操作</td>
					</tr>
					<tr th:each="product,producStat:${jdbcPage.pageItems}">
					<td th:text="${product.name}"></td>
						<td th:text="${product.madeFactory}"></td>
						<td th:text="${product.catalogStr}"></td>
						<td th:text="${product.selledNumber+'/'+product.sellSumNumber}"></td>
						<td th:text="${product.unitPrice+' / '+product.productUnit}"></td>
						<td>
						<span
							th:if="${product.productStatus.toString()=='CHECK'}"> 正在审核
						</span> <span th:if="${product.productStatus.toString()=='ONLINE'}">
								正在出售 </span> <span class="w10"
							th:if="${product.productStatus.toString()=='FINISH'}">
								出售完成 </span></td>
						<td>
						<a href="" th:href="${'/product/edit/'+product.id}">编辑</a>
						<a href="" th:href="${'/product/show/'+product.id}">查看</a>
						<span
							th:if="${product.productStatus.toString()=='CHECK'}"> 请等待
						</span>
							<div th:attr="id=${'div'+product.id}"
								th:if="${product.productStatus.toString()=='ONLINE'}">
								<div th:if="${product?.currentPriceChange == null}">
									<input style="width: 80px;" type="number" id="changePriceInput"
										th:attr="id=${'changePriceInput'+product.id}"
										placeholder="调价多少"> </input>
									<button class="btn btn-primary btn-xs"
										th:attr="onclick=${'changePrice('+product.id+')'}"
										type="button">提交调价审核</button>
								</div>
								<div th:unless="${product?.currentPriceChange == null}">
									<div
										th:if="${product.currentPriceChange.changeStatus.toString()=='SUBMIT'}">
										调价<span th:text="${product.currentPriceChange.changePrice}"></span>正在审核
									</div>
									<div
										th:if="${product.currentPriceChange.changeStatus.toString()=='FAIL'}">
										调价<span th:text="${product.currentPriceChange.changePrice}"></span>审核失败<br />
										<input style="width: 80px;" type="number"
											id="changePriceInput"
											th:attr="id=${'changePriceInput'+product.id}"
											placeholder="调价多少"> </input>
										<button class="btn btn-primary btn-xs"
											th:attr="onclick=${'changePrice('+product.id+')'}"
											type="button">提交调价审核</button>

									</div>
									<div
										th:if="${product.currentPriceChange.changeStatus.toString()=='ACCESS'}">
										调价<span th:text="${product.currentPriceChange.changePrice}"></span>审核通过<br />
										<input style="width: 80px;" type="number"
											id="changePriceInput"
											th:attr="id=${'changePriceInput'+product.id}"
											placeholder="调价多少"> </input>
										<button class="btn btn-primary btn-xs"
											th:attr="onclick=${'changePrice('+product.id+')'}"
											type="button">提交调价审核</button>

									</div>
								</div>
							</div></td>
					</tr>
				</table>

				<span>当前第:<label th:text="${jdbcPage.pageNumber +1}"></label>页,总计<label
					th:text="${jdbcPage.pagesAvailable}"></label>页
				</span>
			</div>
		</div>
	</div>
	<div th:replace="layout/userCenter :: jsEnd"></div>
	<script>
		var changePriceUrl = "/productPriceChange/submit/"
		function changePrice(productId) {
			var changePrice = $("#changePriceInput" + productId).val();
			if (changePrice == '' || changePrice == '0') {
				alert("调整价格不能为空");
				return false;
			}
			if (confirm("请确认操作，确定调整价格 " + changePrice + " ?")) {
				$.ajax({
					url : changePriceUrl,
					type : "POST",
					data : {
						productId : productId,
						changePrice : changePrice
					},
					success : function(data) {
						if (data.success) {
							alert("提交调整价格成功 ,请等待审核");
							$("#div" + productId).html(
									"调整 " + changePrice + " 请等待审核");
						} else {
							alert("没有找到相关数据");
						}
					}
				});
			}
			return false;
		}
	</script>
</body>
</html>