<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
<form action="/api/v1/statistics/formAnswerData" method="post">
	saasId<input type="text" name="saasId" value="946c4eea-15cb-4dfb-8f8d-91b99fe78939"/><br/><br/>
	accessKey<input type="text" name="accessKey" value="c8d47cffb16e4668bc84b3b4f9f72023"/><br/><br/>
	formAnswerData:以空格分开<input type="text" name="htmlFormIds" value="htmlFormIds"/><br/><br/>
	<input type="submit" name="submit"/>
</form>
</body>
</html>