<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head th:replace="layout/userCenter :: head (title='开票信息管理--觅油网用户中心')">
</head>
<body>
	<div id="wrapper">
		<div class="nav-bar-container" th:replace="layout/userCenter :: nav">
		</div>
		<!--.nav-bar-container-->

		<div id="page-wrapper">
			<div class="row">
				<div align="center">
					<h2>我的发票邮寄地址</h2>
				</div>
				<table class="table">
				<thead>
					<tr>
						<td>邮寄地址</td>
						<td>收件人</td>
						<td>收件人电话</td>
					</tr>
					</thead>
					<tbody>
					<tr th:each="orderAddress,orderAddressStat:${orderAddressList}">
					<td>
					<a href="#" class="editable" data-type="text" data-pk="1" data-name='address' data-url="/orderAddress/update"
					 data-title="点击更改邮寄地址"
					th:text="${orderAddress.address}" th:attr="data-pk=${orderAddress.id}">
					邮寄地址
					</a>
					</td>
					<td>
					<a href="#" class="editable" data-type="text" data-pk="1" data-name='name' data-url="/orderAddress/update"
					 data-title="点击更改收件人"
					th:text="${orderAddress.name}" th:attr="data-pk=${orderAddress.id}">
					收件人
					</a>
					</td>
					<td>
					<a href="#" class="editable" data-type="text" data-pk="1" data-name='tel' data-url="/orderAddress/update"
					 data-title="点击更改收件人电话"
					th:text="${orderAddress.tel}" th:attr="data-pk=${orderAddress.id}">
					收件人电话
					</a>
					</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div th:replace="layout/userCenter :: jsEnd" >
	</div> 
	<div th:replace="layout/plugins :: x-editable" >
	</div> 
	<script>
	$(document).ready(function() {
		$(".editable").each(function(){
			$(this).editable();
		  });
	});
	</script>
</body>
</html>