<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head th:replace="layout/userCenter :: head (title='用户中心基本信息--觅油网用户中心')">
</head>
<body>
	<div id="wrapper">
		<div class="nav-bar-container" th:replace="layout/userCenter :: nav">
		</div>
		<!--.nav-bar-container-->

		<div id="page-wrapper">
			<div class="row">
				<div align="center">
					<h2>基本信息</h2>
				</div>
				<form name="userInfoForm" id="userInfoForm" class="form-horizontal">
					<input type="hidden" name="id" th:value="${userInfo.id}"/>
					<div class="col-xs-12 col-sm-5 col-md-5">

						<div class="form-group">
							<label for="email" class="col-sm-3 control-label">Email</label>
							<div class="col-sm-9">
								<input type="email" class="form-control" id="email" name="email"
									placeholder="Email" th:value="${userInfo.email}" />
							</div>
						</div>
						<div class="form-group">
							<label for="qq" class="col-sm-3 control-label">qq</label>
							<div class="col-sm-9">
								<input type="text" class="form-control"
									th:value="${userInfo.qq}" id="qq" name="qq" placeholder="qq" />
							</div>
						</div>
						<div class="form-group">
							<label for="companyTel" class="col-sm-3 control-label">公司电话</label>
							<div class="col-sm-9">
								<input type="text" class="form-control"
									th:value="${userInfo.companyTel}" id="companyTel"
									name="companyTel" placeholder="公司电话" />
							</div>
						</div>
						<div class="form-group">
							<label for="companyFax" class="col-sm-3 control-label">公司传真</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="companyFax"
									name="companyFax" th:value="${userInfo.companyFax}"
									placeholder="公司传真" />
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-10">
								<button type="button" onclick="userInfoSubmit()" class="btn btn-primary">更新</button>
							</div>
						</div>

					</div>
					<div class="col-xs-12 col-sm-5 col-md-5">
						<div class="form-group">
							<label for="trueName" class="col-sm-3 control-label">姓名</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="trueName"
									name="trueName" th:value="${userInfo.companyFax}"
									placeholder="姓名" />
							</div>
						</div>
						<div class="form-group">
							<label for="companyName" class="col-sm-3 control-label">公司名称</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="companyName"
									name="companyName" th:value="${userInfo.companyName}"
									placeholder="公司名称" />
							</div>
						</div>
						<div class="form-group">
							<label for="companyAddress" class="col-sm-3 control-label">公司地址</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="companyAddress" name="companyAddress"
									th:value="${userInfo.companyAddress}" placeholder="公司地址 " />
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div th:replace="layout/userCenter :: jsEnd"></div>
	<script type="text/javascript" src="/resources/jsCustom/userInfo/userInfo.js"></script>
</body>
</html>