<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wb="http://open.weibo.com/wb">
<head th:fragment="head">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	 <title th:text="${title}">title</title>
<!-- 	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta property="" content="" />
	<meta property="" content="" />
	<meta name="renderer" content="webkit" /> -->
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">  -->
    <link rel="stylesheet" href="/resources/css/reset.css"/>
	<link rel="stylesheet" href="/resources/css/global.css"/>
    <link rel="stylesheet" href="/resources/css/newAdd.css"/>
	<script type="text/javascript" src="/resources/js/jquery.1.9.1.min.js"></script>
    <script src="/resources/js/jquery.cycle.js"></script>
    <script src="/resources/js/jquery.kxbdmarquee.js"></script>
    <script src="/resources/js/jcarousellite.js"></script>
	<script type="text/javascript" src="/resources/js/common.js"></script>
	
</head>
<body>
	<!-- wrapper  start -->
	<div id="wrapper" class="user_wrapper">
			<!-- header 	start -->
			<div id="header" th:fragment="header">
				<div class="tNav c_width">
					<!-- left  topNav  start -->
					<div class="tNav_fl fl">
						<ul class="tNav_ul" th:if="${#authentication.name!='anonymousUser'}">
							<li>喵，欢迎来找油</li>
							<li class="login"  >
						     <a th:if="${#authentication.name!='anonymousUser'}" sec:authentication="name"
						        href="/userCenter/index" title="用户中心">用户名</a>
						    </li>
						</ul>
						<ul class="tNav_ul"   th:if="${#authentication.name=='anonymousUser'}" >
							<li>喵，欢迎来找油</li>
							<li class="login"  >
						     <a  href="/auth/loginPage" title="请登录">请登录</a>						    
						    </li>
						    <li><a href="/auth/registerPage" title="免费注册">[免费注册]</a></li>
						</ul>
					</div>
					<!-- left  topNav  end -->
					<!-- right  topNav  start -->
					<div class="tNav_fr fr">
						<ul class="tNav_ul">
							<li><a href="/userCenter/index" title="我的觅油网">我的觅油网</a></li>
							<li class="user_order">
								<a href="javaScript:void(0)" title="我的订单" class="order_a">我的订单
									<i class="sel_downArrow sel_active"></i>
								</a>
								<div class="nav_select order_sel_ul dp-none">
									<ul>
										<li><a href="javaScript:void(0)">商城订单1</a></li>
										<li><a href="javaScript:void(0)">商城订单2</a></li>
										<li><a href="javaScript:void(0)">商城订单3</a></li>
									</ul>
								</div>
							</li>
							<li><a href="javaScript:void(0)" title="积分商城" style="display:none">积分商城</a></li>
							<li><a href="javaScript:void(0)" title="在线客服"><i class="kf_icon"></i>在线客服</a></li>
							<li><span>交易时间：工作日8:30-17:00</span></li>
						</ul>
					</div>
					<!-- right  topNav  end -->
				</div>
			</div>
			<!-- header 	end -->
<!-- logo_search  start -->
			<div class="logo_search" th:fragment="logoSearch">
				<div class="c_width">
					<!-- left logo  start -->
					<div class="logo_fl fl">
						<a href="/"></a>
					</div>
					<!-- left logo  end -->

					<!-- right  search  start -->
					<div class="search_fr fr">
						<form action="" class="search_form">
							<input id="goods_search" type="text"  placeholder="请输入产品规格/材质/品名/油厂" value="" autocomplete="off"/>
							<input type="button" class="sub_search_btn" value="搜索"/>
						</form>
						<a href="javaScript:void(0)" class="gift_bag"><i class="gift_icon"></i><i class="icon_hot"></i></a>
						<a href="javaScript:void(0)" class="shopping_car"><i class="shop_icon"></i></a>
					</div>
					<!-- right  search  end -->
				</div>
			</div>
			
			
				<!-- h_menu   start -->
			<div class="h_menu clearfix"  th:fragment="treeMenu">
				<div class="c_width">
					<div class="more_menu">
						<a href="javaScript:void(0)" title="油材大卖场" class="big_shopping">油材大卖场 <i class="icon_arrow_down"></i></a>
						<div class="down_menu">
							<ul class="down_menu_ul">
								<li class="item" data-tab="1">
									<div style="position:relative;">
										<i class="icon_love icon_love_active"></i>
										<h3><i class="icon_arrow"></i>基础油</h3>
										<div class="do_introduce">
											<a href="javaScript:void(0)" title="金虹">金虹</a>
											<a href="javaScript:void(0)" title="华伟">华伟</a>
											<a href="javaScript:void(0)" title="宝航">宝航</a>
										</div>
									</div>

									<div class="item_div" data-tab="1" style="display: none;">
										<div class="product_div">
											<h2 class="product_title">I类</h2>
											<ul class="product_type">
												<li><a title="60SN">60SN</a></li>
												<li><a title="130SN">130SN</a></li>
												<li><a title="150SN">150SN</a></li>
											</ul>
										</div>
										<div class="product_div">
											<h2 class="product_title">II类</h2>
											<ul class="product_type">
												<li><a title="60SN">60SN</a></li>
												<li><a title="130SN">130SN</a></li>
												<li><a title="150SN">150SN</a></li>
											</ul>
										</div>
										<div class="product_div">
											<h2 class="product_title">V类</h2>
											<ul class="product_type">
												<li><a title="60SN">60SN</a></li>
												<li><a title="130SN">130SN</a></li>
												<li><a title="150SN">150SN</a></li>
											</ul>
										</div>

										<div class="product_div">
											<h2 class="product_title">IV类</h2>
											<ul class="product_type">
												<li><a title="60SN">60SN</a></li>
												<li><a title="130SN">130SN</a></li>
												<li><a title="150SN">150SN</a></li>
											</ul>
										</div>

										<div class="product_div">
											<h2 class="product_title">IIV类</h2>
											<ul class="product_type">
												<li><a title="60SN">60SN</a></li>
												<li><a title="130SN">130SN</a></li>
												<li><a title="150SN">150SN</a></li>
											</ul>
										</div>

										<div class="product_div bottom_div">
											<h2 class="product_title" style="font-size:12px;">油厂直达</h2>
											<ul class="product_company_path" data-icon="1">
												<li><a title="金虹">金虹</a></li>
												<li><a title="华伟">华伟</a></li>
												<li><a title="宝航">宝航</a></li>
												<li><a title="西王">西王</a></li>
												<li><a title="飞达">飞达</a></li>
												<li><a title="长达">长达</a></li>
											</ul>
										</div>
									</div>
								</li>
								<li class="item" data-tab="2">
									<div style="position:relative;">
										<i class="icon_sun icon_sun_active"></i>
										<h3><i class="icon_arrow"></i>白油</h3>
										<div class="do_introduce">
											<p>昨日成交<span>56132.123</span>吨</p>
										</div>
									</div>

										<div class="item_div dp-none" data-tab="2">
										<div class="product_div">
											<h2 class="product_title">I类</h2>
											<ul class="product_type">
												<li><a title="60SN">60SN</a></li>
												<li><a title="130SN">130SN</a></li>
												<li><a title="150SN">150SN</a></li>
											</ul>
										</div>
										<div class="product_div">
											<h2 class="product_title">II类</h2>
											<ul class="product_type">
												<li><a title="60SN">60SN</a></li>
												<li><a title="130SN">130SN</a></li>
												<li><a title="150SN">150SN</a></li>
											</ul>
										</div>
										<div class="product_div">
											<h2 class="product_title">V类</h2>
											<ul class="product_type">
												<li><a title="60SN">60SN</a></li>
												<li><a title="130SN">130SN</a></li>
												<li><a title="150SN">150SN</a></li>
											</ul>
										</div>

										<div class="product_div">
											<h2 class="product_title">IV类</h2>
											<ul class="product_type">
												<li><a title="60SN">60SN</a></li>
												<li><a title="130SN">130SN</a></li>
												<li><a title="150SN">150SN</a></li>
											</ul>
										</div>

										<div class="product_div">
											<h2 class="product_title">IIV类</h2>
											<ul class="product_type">
												<li><a title="60SN">60SN</a></li>
												<li><a title="130SN">130SN</a></li>
												<li><a title="150SN">150SN</a></li>
											</ul>
										</div>

										<div class="product_div bottom_div">
											<h2 class="product_title" style="font-size:12px;">油厂直达</h2>
											<ul class="product_company_path" data-icon="1">
												<li><a title="金虹">金虹</a></li>
												<li><a title="华伟">华伟</a></li>
												<li><a title="宝航">宝航</a></li>
												<li><a title="西王">西王</a></li>
												<li><a title="飞达">飞达</a></li>
												<li><a title="长达">长达</a></li>
											</ul>
										</div>
									</div>

								</li>

								<li class="item" data-tab="2">
									<div style="position:relative;">
										<i class="icon_carouse icon_carouse_active"></i>
										<h3><i class="icon_arrow"></i>橡胶油</h3>
										<div class="do_introduce">
											<p>昨日成交<span>56132.123</span>吨</p>
										</div>
									</div>

									<div class="item_div dp-none" data-tab="2">
										<div class="product_div">
											<h2 class="product_title">I类</h2>
											<ul class="product_type">
												<li><a title="60SN">60SN</a></li>
												<li><a title="130SN">130SN</a></li>
												<li><a title="150SN">150SN</a></li>
											</ul>
										</div>
										<div class="product_div">
											<h2 class="product_title">II类</h2>
											<ul class="product_type">
												<li><a title="60SN">60SN</a></li>
												<li><a title="130SN">130SN</a></li>
												<li><a title="150SN">150SN</a></li>
											</ul>
										</div>
										<div class="product_div">
											<h2 class="product_title">V类</h2>
											<ul class="product_type">
												<li><a title="60SN">60SN</a></li>
												<li><a title="130SN">130SN</a></li>
												<li><a title="150SN">150SN</a></li>
											</ul>
										</div>

										<div class="product_div">
											<h2 class="product_title">IV类</h2>
											<ul class="product_type">
												<li><a title="60SN">60SN</a></li>
												<li><a title="130SN">130SN</a></li>
												<li><a title="150SN">150SN</a></li>
											</ul>
										</div>

										<div class="product_div">
											<h2 class="product_title">IIV类</h2>
											<ul class="product_type">
												<li><a title="60SN">60SN</a></li>
												<li><a title="130SN">130SN</a></li>
												<li><a title="150SN">150SN</a></li>
											</ul>
										</div>

										<div class="product_div bottom_div">
											<h2 class="product_title" style="font-size:12px;">油厂直达</h2>
											<ul class="product_company_path" data-icon="1">
												<li><a title="金虹">金虹</a></li>
												<li><a title="华伟">华伟</a></li>
												<li><a title="宝航">宝航</a></li>
												<li><a title="西王">西王</a></li>
												<li><a title="飞达">飞达</a></li>
												<li><a title="长达">长达</a></li>
											</ul>
										</div>
									</div>

								</li>

								<li class="item" data-tab="2">
									<div style="position:relative;">
										<i class="icon_map icon_map_active"></i>
										<h3><i class="icon_arrow"></i>润滑油</h3>
										<div class="do_introduce">
											<p>昨日成交<span>56132.123</span>吨</p>
										</div>
									</div>

									<div class="item_div dp-none" data-tab="2">
										<div class="product_div">
											<h2 class="product_title">I类</h2>
											<ul class="product_type">
												<li><a title="60SN">60SN</a></li>
												<li><a title="130SN">130SN</a></li>
												<li><a title="150SN">150SN</a></li>
											</ul>
										</div>
										<div class="product_div">
											<h2 class="product_title">II类</h2>
											<ul class="product_type">
												<li><a title="60SN">60SN</a></li>
												<li><a title="130SN">130SN</a></li>
												<li><a title="150SN">150SN</a></li>
											</ul>
										</div>
										<div class="product_div">
											<h2 class="product_title">V类</h2>
											<ul class="product_type">
												<li><a title="60SN">60SN</a></li>
												<li><a title="130SN">130SN</a></li>
												<li><a title="150SN">150SN</a></li>
											</ul>
										</div>

										<div class="product_div">
											<h2 class="product_title">IV类</h2>
											<ul class="product_type">
												<li><a title="60SN">60SN</a></li>
												<li><a title="130SN">130SN</a></li>
												<li><a title="150SN">150SN</a></li>
											</ul>
										</div>

										<div class="product_div">
											<h2 class="product_title">IIV类</h2>
											<ul class="product_type">
												<li><a title="60SN">60SN</a></li>
												<li><a title="130SN">130SN</a></li>
												<li><a title="150SN">150SN</a></li>
											</ul>
										</div>

										<div class="product_div bottom_div">
											<h2 class="product_title" style="font-size:12px;">油厂直达</h2>
											<ul class="product_company_path" data-icon="1">
												<li><a title="金虹">金虹</a></li>
												<li><a title="华伟">华伟</a></li>
												<li><a title="宝航">宝航</a></li>
												<li><a title="西王">西王</a></li>
												<li><a title="飞达">飞达</a></li>
												<li><a title="长达">长达</a></li>
											</ul>
										</div>
									</div>

								</li>

								<li class="item active" data-tab="2">
									<div style="position:relative;">
										<i class="icon_box icon_box_active"></i>
										<h3><i class="icon_arrow"></i>企业专区</h3>
										<div class="do_introduce">
											<p>昨日成交<span>56132.123</span>吨</p>
										</div>
									</div>
									<div class="item_div dp-none" data-tab="2">
										<div>
											<ul class="product_type">
												<li>
													<a href="javaScript:void(0)" title="江苏黄海" class="noMP">
														<img src="/resources/images/index_qiye.jpg" alt="" class="enterprise_img"/>
													</a>
												</li>
												<li>
													<a href="javaScript:void(0)" title="江苏黄海" class="noMP">
														<img src="/resources/images/index_qiye.jpg" alt="" class="enterprise_img"/>
													</a>
												</li>
											</ul>
										</div>
										<div>
											<ul class="product_type">
												<li>
													<a href="javaScript:void(0)" title="江苏黄海" class="noMP">
														<img src="/resources/images/index_qiye.jpg" alt="" class="enterprise_img"/>
													</a>
												</li>
												<li>
													<a href="javaScript:void(0)" title="江苏黄海" class="noMP">
														<img src="/resources/images/index_qiye.jpg" alt="" class="enterprise_img"/>
													</a>
												</li>
											</ul>
										</div>
										<div>
											<ul class="product_type">
												<li>
													<a href="javaScript:void(0)" title="江苏黄海" class="noMP">
														<img src="/resources/images/index_qiye.jpg" alt="" class="enterprise_img"/>
													</a>
												</li>
												<li>
													<a href="javaScript:void(0)" title="江苏黄海" class="noMP">
														<img src="/resources/images/index_qiye.jpg" alt="" class="enterprise_img"/>
													</a>
												</li>
											</ul>
										</div>

										<div>
											<ul class="product_type">
												<li>
													<a href="javaScript:void(0)" title="江苏黄海" class="noMP">
														<img src="/resources/images/index_qiye.jpg" alt="" class="enterprise_img"/>
													</a>
												</li>
												<li>
													<a href="javaScript:void(0)" title="江苏黄海" class="noMP">
														<img src="/resources/images/index_qiye.jpg" alt="" class="enterprise_img"/>
													</a>
												</li>
											</ul>
										</div>
										<div>
											<ul class="product_type">
												<li>
													<a href="javaScript:void(0)" title="江苏黄海" class="noMP">
														<img src="/resources/images/index_qiye.jpg" alt="" class="enterprise_img"/>
													</a>
												</li>
												<li>
													<a href="javaScript:void(0)" title="江苏黄海" class="noMP">
														<img src="/resources/images/index_qiye.jpg" alt="" class="enterprise_img"/>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<ul class="h_menu_ul" th:include="layout/default :: menu">
						
					</ul>
				</div>
			</div>
			<!-- h_menu   end -->
			
			<ul class="h_menu_ul" th:fragment="menu" >
						<li><a href="/" th:if="${active=='index'}" title="首页" class="active">首页</a>
						<a href="/" th:unless="${active=='index'}" title="首页">首页</a>
						</li>
						<li>
						<a th:if="${active=='shop'}"  class="active"  href="/product/list/10/0" title="商城">商城<i class="icon_hot"></i></a>
						<a th:unless="${active=='shop'}"    href="/product/list/10/0" title="商城">商城<i class="icon_hot"></i></a>
						</li>
						<li>
						<a th:if="${active=='resources'}" class="active"   href="/product/resource/list/10/0" title="资源单">资源单</a>
						<a th:unless="${active=='resources'}"   href="/product/resource/list/10/0" title="资源单">资源单</a>
						</li>
						<li><a href="javaScript:void(0)" title="求购报价" style="display:none">求购报价</a></li>
						<li><a href="javaScript:void(0)" title="行情">行情<i class="icon_market"></i></a></li>
						<li><a href="javaScript:void(0)" title="物流" style="display:none">物流</a></li>
						<li><a href="javaScript:void(0)" title="仓储" style="display:none">仓储</a></li>
						<li><a href="javaScript:void(0)" title="商检" style="display:none">商检</a></li>
						<li><a href="javaScript:void(0)" title="竞拍" style="display:none">竞拍<i class="icon_price"></i></a></li>
			</ul>
			<!-- logo_search  end -->
			<div>content</div>
		<!-- footer  start -->
		<div id="footer" th:fragment="footer">
				<div class="c_width list_item clearfix">
					<ul>
						<li class="item1">
							<img src="/resources/images/foot_img.jpg" width="103" height="112"/>
							<h5>客服热线：021-60100300</h5>
							<h5>投诉专线：021-35885555</h5>
							<p>周一到周五8:30-17:00</p>
						</li>

						<li class="item2">
						    <i class="icon_buy"></i>
						    <h4>我要买油</h4>
						    <ol>
						    	<li><a href="" target="_blank">我是买家，如何找货？</a></li>
						    	<li><a href="" target="_blank">商城采购流程</a></li>
						    	<li><a href="javaScript:void(0)" target="_blank">在线找车</a></li>
						    	<li><a href="javaScript:void(0)" target="_blank">资源单下载</a></li>
						    	<li><a href="javaScript:void(0)" target="_blank">现货搜索</a></li>
						    </ol>
						</li>


		       			<li class="item3">
		                    <i class="icon_sale"></i>
		                    <h4>我要卖油</h4>
		                    <ol>
			                    <li><a href="javaScript:void(0)" target="_blank">我是卖家，如何销售？</a></li>
			                    <li><a href="javaScript:void(0)" target="_blank">资源单上传</a></li>
			                    <li><a href="javaScript:void(0)" target="_blank">如何吸引更多买家</a></li>
			                    <li><a href="javaScript:void(0)" target="_blank">卖家如何直接报价</a></li>
		                    </ol>
		                </li>

		                <li class="item4">
		                    <i class="icon_business"></i>
		                    <h4>交易指南</h4>
		                    <ol>
			                    <li><a href="javaScript:void(0)" target="_blank">交易规则</a></li>
			                    <li><a href="javaScript:void(0)" target="_blank">行情资讯</a></li>
			                    <li><a href="javaScript:void(0)" target="_blank">怎样保证交易安全</a></li>
			                    <li><a href="javaScript:void(0)" target="_blank">报价来源及收费标准</a></li>
			                    <li><a href="javaScript:void(0)" target="_blank">觅油网款账号</a></li>
		                    </ol>
		                </li>

		                <li class="item5">
		                    <i class="icon_question"></i>
		                    <h4>常见问题</h4>
		                    <ol>
			                    <li><a href="javaScript:void(0)" target="_blank">注册/登录流程</a></li>
			                    <li><a href="javaScript:void(0)" target="_blank">无法登录/忘记密码</a></li>
			                    <li><a href="javaScript:void(0)" target="_blank">会员中心</a></li>
			                    <li><a href="javaScript:void(0)" target="_blank">修改账户信息</a></li>
			                    <li><a href="javaScript:void(0)" target="_blank">加找钢网为微信好友</a></li>
			                    <li><a href="javaScript:void(0)" target="_blank">如何压缩图片</a></li>
		                    </ol>
		                </li>

		                <li class="item6" style="display:none">
		                    <img src="http://resource.zhaogang.com/img/foot_weixin.jpg" width="112" height="154"/>
		                </li>

					</ul>
				</div>
				<div class="link">
					<a href="javaScript:void(0)" target="_blank">关于我们</a>
					|	<a href="javaScript:void(0)" target="_blank">联系我们</a>
					|	<a href="javaScript:void(0)" target="_blank">人才招聘</a>
					|	<a href="javaScript:void(0)" target="_blank">商家入驻</a>
					|	<a href="javaScript:void(0)" target="_blank">广告服务</a>
					|	<a href="javaScript:void(0)" target="_blank">友情链接</a>
					|	<a href="javaScript:void(0)" target="_blank">销售联盟</a>
					|	<a href="javaScript:void(0)" target="_blank">公益</a>
	        	</div>
				<div class="text">COPYRIGHT © 觅油网 www.miyouwang.com 沪ICP备 13013915号-3 ICP证：沪B2-20140148</div>
		</div>
		<!-- footer  end -->
	</div>
	<!-- wrapper  end -->
</body>
</html>