<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<!-- h_menu   start -->
	<div class="h_menu clearfix" th:fragment="treeMenu">
		<div class="c_width">
			<div class="more_menu">
				<a class="big_shopping" title="油材大卖场" href="javaScript:void(0)">油材大卖场
					<i class="icon_arrow_down"></i>
				</a>
				<div class="down_menu dp-none">
					<ul class="down_menu_ul">
						<li data-tab="1" class="item">
							<div style="position: relative;">
								<i class="icon_love icon_love_active"></i>
								<h3>
									<i class="icon_arrow"></i>基础油
								</h3>
								<div class="do_introduce">
									<a title="金虹" href="javaScript:void(0)">金虹</a> <a title="华伟"
										href="javaScript:void(0)">华伟</a> <a title="宝航"
										href="javaScript:void(0)">宝航</a>
								</div>
							</div>

							<div style="display: none;" data-tab="1" class="item_div">
								<div class="product_div">
									<h2 class="product_title">I类</h2>
									<ul class="product_type">
										<li><a title="60SN">60SN</a></li>
										<li><a title="130SN">130SN</a></li>
										<li><a title="150SN">150SN</a></li>
									</ul>
								</div>
								<div class="product_div">
									<h2 class="product_title">II类</h2>
									<ul class="product_type">
										<li><a title="60SN">60SN</a></li>
										<li><a title="130SN">130SN</a></li>
										<li><a title="150SN">150SN</a></li>
									</ul>
								</div>
								<div class="product_div">
									<h2 class="product_title">V类</h2>
									<ul class="product_type">
										<li><a title="60SN">60SN</a></li>
										<li><a title="130SN">130SN</a></li>
										<li><a title="150SN">150SN</a></li>
									</ul>
								</div>

								<div class="product_div">
									<h2 class="product_title">IV类</h2>
									<ul class="product_type">
										<li><a title="60SN">60SN</a></li>
										<li><a title="130SN">130SN</a></li>
										<li><a title="150SN">150SN</a></li>
									</ul>
								</div>

								<div class="product_div">
									<h2 class="product_title">IIV类</h2>
									<ul class="product_type">
										<li><a title="60SN">60SN</a></li>
										<li><a title="130SN">130SN</a></li>
										<li><a title="150SN">150SN</a></li>
									</ul>
								</div>

								<div class="product_div bottom_div">
									<h2 style="font-size: 12px;" class="product_title">油厂直达</h2>
									<ul data-icon="1" class="product_company_path">
										<li><a title="金虹">金虹</a></li>
										<li><a title="华伟">华伟</a></li>
										<li><a title="宝航">宝航</a></li>
										<li><a title="西王">西王</a></li>
										<li><a title="飞达">飞达</a></li>
										<li><a title="长达">长达</a></li>
									</ul>
								</div>
							</div>
						</li>
						<li data-tab="2" class="item">
							<div style="position: relative;">
								<i class="icon_sun icon_sun_active"></i>
								<h3>
									<i class="icon_arrow"></i>白油
								</h3>
								<div class="do_introduce">
									<p>
										昨日成交<span>56132.123</span>吨
									</p>
								</div>
							</div>

							<div data-tab="2" class="item_div dp-none">
								<div class="product_div">
									<h2 class="product_title">I类</h2>
									<ul class="product_type">
										<li><a title="60SN">60SN</a></li>
										<li><a title="130SN">130SN</a></li>
										<li><a title="150SN">150SN</a></li>
									</ul>
								</div>
								<div class="product_div">
									<h2 class="product_title">II类</h2>
									<ul class="product_type">
										<li><a title="60SN">60SN</a></li>
										<li><a title="130SN">130SN</a></li>
										<li><a title="150SN">150SN</a></li>
									</ul>
								</div>
								<div class="product_div">
									<h2 class="product_title">V类</h2>
									<ul class="product_type">
										<li><a title="60SN">60SN</a></li>
										<li><a title="130SN">130SN</a></li>
										<li><a title="150SN">150SN</a></li>
									</ul>
								</div>

								<div class="product_div">
									<h2 class="product_title">IV类</h2>
									<ul class="product_type">
										<li><a title="60SN">60SN</a></li>
										<li><a title="130SN">130SN</a></li>
										<li><a title="150SN">150SN</a></li>
									</ul>
								</div>

								<div class="product_div">
									<h2 class="product_title">IIV类</h2>
									<ul class="product_type">
										<li><a title="60SN">60SN</a></li>
										<li><a title="130SN">130SN</a></li>
										<li><a title="150SN">150SN</a></li>
									</ul>
								</div>

								<div class="product_div bottom_div">
									<h2 style="font-size: 12px;" class="product_title">油厂直达</h2>
									<ul data-icon="1" class="product_company_path">
										<li><a title="金虹">金虹</a></li>
										<li><a title="华伟">华伟</a></li>
										<li><a title="宝航">宝航</a></li>
										<li><a title="西王">西王</a></li>
										<li><a title="飞达">飞达</a></li>
										<li><a title="长达">长达</a></li>
									</ul>
								</div>
							</div>

						</li>

						<li data-tab="2" class="item">
							<div style="position: relative;">
								<i class="icon_carouse icon_carouse_active"></i>
								<h3>
									<i class="icon_arrow"></i>橡胶油
								</h3>
								<div class="do_introduce">
									<p>
										昨日成交<span>56132.123</span>吨
									</p>
								</div>
							</div>

							<div data-tab="2" class="item_div dp-none">
								<div class="product_div">
									<h2 class="product_title">I类</h2>
									<ul class="product_type">
										<li><a title="60SN">60SN</a></li>
										<li><a title="130SN">130SN</a></li>
										<li><a title="150SN">150SN</a></li>
									</ul>
								</div>
								<div class="product_div">
									<h2 class="product_title">II类</h2>
									<ul class="product_type">
										<li><a title="60SN">60SN</a></li>
										<li><a title="130SN">130SN</a></li>
										<li><a title="150SN">150SN</a></li>
									</ul>
								</div>
								<div class="product_div">
									<h2 class="product_title">V类</h2>
									<ul class="product_type">
										<li><a title="60SN">60SN</a></li>
										<li><a title="130SN">130SN</a></li>
										<li><a title="150SN">150SN</a></li>
									</ul>
								</div>

								<div class="product_div">
									<h2 class="product_title">IV类</h2>
									<ul class="product_type">
										<li><a title="60SN">60SN</a></li>
										<li><a title="130SN">130SN</a></li>
										<li><a title="150SN">150SN</a></li>
									</ul>
								</div>

								<div class="product_div">
									<h2 class="product_title">IIV类</h2>
									<ul class="product_type">
										<li><a title="60SN">60SN</a></li>
										<li><a title="130SN">130SN</a></li>
										<li><a title="150SN">150SN</a></li>
									</ul>
								</div>

								<div class="product_div bottom_div">
									<h2 style="font-size: 12px;" class="product_title">油厂直达</h2>
									<ul data-icon="1" class="product_company_path">
										<li><a title="金虹">金虹</a></li>
										<li><a title="华伟">华伟</a></li>
										<li><a title="宝航">宝航</a></li>
										<li><a title="西王">西王</a></li>
										<li><a title="飞达">飞达</a></li>
										<li><a title="长达">长达</a></li>
									</ul>
								</div>
							</div>

						</li>

						<li data-tab="2" class="item">
							<div style="position: relative;">
								<i class="icon_map icon_map_active"></i>
								<h3>
									<i class="icon_arrow"></i>润滑油
								</h3>
								<div class="do_introduce">
									<p>
										昨日成交<span>56132.123</span>吨
									</p>
								</div>
							</div>

							<div data-tab="2" class="item_div dp-none">
								<div class="product_div">
									<h2 class="product_title">I类</h2>
									<ul class="product_type">
										<li><a title="60SN">60SN</a></li>
										<li><a title="130SN">130SN</a></li>
										<li><a title="150SN">150SN</a></li>
									</ul>
								</div>
								<div class="product_div">
									<h2 class="product_title">II类</h2>
									<ul class="product_type">
										<li><a title="60SN">60SN</a></li>
										<li><a title="130SN">130SN</a></li>
										<li><a title="150SN">150SN</a></li>
									</ul>
								</div>
								<div class="product_div">
									<h2 class="product_title">V类</h2>
									<ul class="product_type">
										<li><a title="60SN">60SN</a></li>
										<li><a title="130SN">130SN</a></li>
										<li><a title="150SN">150SN</a></li>
									</ul>
								</div>

								<div class="product_div">
									<h2 class="product_title">IV类</h2>
									<ul class="product_type">
										<li><a title="60SN">60SN</a></li>
										<li><a title="130SN">130SN</a></li>
										<li><a title="150SN">150SN</a></li>
									</ul>
								</div>

								<div class="product_div">
									<h2 class="product_title">IIV类</h2>
									<ul class="product_type">
										<li><a title="60SN">60SN</a></li>
										<li><a title="130SN">130SN</a></li>
										<li><a title="150SN">150SN</a></li>
									</ul>
								</div>

								<div class="product_div bottom_div">
									<h2 style="font-size: 12px;" class="product_title">油厂直达</h2>
									<ul data-icon="1" class="product_company_path">
										<li><a title="金虹">金虹</a></li>
										<li><a title="华伟">华伟</a></li>
										<li><a title="宝航">宝航</a></li>
										<li><a title="西王">西王</a></li>
										<li><a title="飞达">飞达</a></li>
										<li><a title="长达">长达</a></li>
									</ul>
								</div>
							</div>

						</li>

						<li data-tab="2" class="item">
							<div style="position: relative;">
								<i class="icon_box icon_box_active"></i>
								<h3>
									<i class="icon_arrow"></i>企业专区
								</h3>
								<div class="do_introduce">
									<p>
										昨日成交<span>56132.123</span>吨
									</p>
								</div>
							</div>
							<div data-tab="2" class="item_div dp-none">
								<div>
									<ul class="product_type">
										<li><a class="noMP" title="江苏黄海"
											href="javaScript:void(0)"> <img class="enterprise_img"
												alt="" src="/resources/images/index_qiye.jpg" />
										</a></li>
										<li><a class="noMP" title="江苏黄海"
											href="javaScript:void(0)"> <img class="enterprise_img"
												alt="" src="/resources/images/index_qiye.jpg" />
										</a></li>
									</ul>
								</div>
								<div>
									<ul class="product_type">
										<li><a class="noMP" title="江苏黄海"
											href="javaScript:void(0)"> <img class="enterprise_img"
												alt="" src="/resources/images/index_qiye.jpg" />
										</a></li>
										<li><a class="noMP" title="江苏黄海"
											href="javaScript:void(0)"> <img class="enterprise_img"
												alt="" src="/resources/images/index_qiye.jpg" />
										</a></li>
									</ul>
								</div>
								<div>
									<ul class="product_type">
										<li><a class="noMP" title="江苏黄海"
											href="javaScript:void(0)"> <img class="enterprise_img"
												alt="" src="/resources/images/index_qiye.jpg" />
										</a></li>
										<li><a class="noMP" title="江苏黄海"
											href="javaScript:void(0)"> <img class="enterprise_img"
												alt="" src="/resources/images/index_qiye.jpg" />
										</a></li>
									</ul>
								</div>

								<div>
									<ul class="product_type">
										<li><a class="noMP" title="江苏黄海"
											href="javaScript:void(0)"> <img class="enterprise_img"
												alt="" src="/resources/images/index_qiye.jpg" />
										</a></li>
										<li><a class="noMP" title="江苏黄海"
											href="javaScript:void(0)"> <img class="enterprise_img"
												alt="" src="/resources/images/index_qiye.jpg" />
										</a></li>
									</ul>
								</div>
								<div>
									<ul class="product_type">
										<li><a class="noMP" title="江苏黄海"
											href="javaScript:void(0)"> <img class="enterprise_img"
												alt="" src="/resources/images/index_qiye.jpg" />
										</a></li>
										<li><a class="noMP" title="江苏黄海"
											href="javaScript:void(0)"> <img class="enterprise_img"
												alt="" src="/resources/images/index_qiye.jpg" />
										</a></li>
									</ul>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<ul class="h_menu_ul">
				<li><a href="/" th:if="${active=='index'}" title="首页"
					class="active">首页</a> <a href="/" th:unless="${active=='index'}"
					title="首页">首页</a></li>
				<li><a th:if="${active=='shop'}" class="active"
					href="/product/list/10/0" title="商城">商城<i class="icon_hot"></i></a>
					<a th:unless="${active=='shop'}" href="/product/list/10/0"
					title="商城">商城<i class="icon_hot"></i></a></li>
				<li><a th:if="${active=='resources'}" class="active"
					href="/product/resource/list/10/0" title="资源单">资源单</a> <a
					th:unless="${active=='resources'}"
					href="/product/resource/list/10/0" title="资源单">资源单</a></li>
					
					
				<li><a th:if="${active=='info'}" class="active"
			href="/article/list/10/0" title="行情">行情</a> <a
			th:unless="${active=='info'}"
			href="/article/list/10/0" title="行情">行情</a></li>
			</ul>
		</div>
	</div>
</body>
</html>